@media (min-width:1440px) {
	body {
		font-size: 28px;
	}
	.navbar{
		min-height: 92px;
		padding: 0px 50px;
	}
	.navbar-brand{
		padding: 15px 15px;
	}
	.navbar-brand img{
		height: 80px;
	}	
	.navbar-default .navbar-nav>li>a{
		font-size: 28px;
	}
	.navbar-default .navbar-nav>li>p{
		font-size: 18px;
	}
	.nav>li>a{
		padding: 35px 23px;
	}
	.nav>li>p{
		padding: 29px 23px;
	}
	.nav>li>p>a.btn{
		font-size: 20px;
	}
	.btn-key{
		background: #777;
		color:#fff;
		padding:1.5px 14px;
		font-size: 21px;
	}
	footer{
		font-size: 20px;
		padding: 0px 20px;
		height: 150px;
	}
	footer a{
		font-size: 20px;
	}
	footer ul{
		margin-top: 60px;
	}
	footer ul li.logo-footer img{
		height: 64px;
		width: 76px;
	}
	footer ul li{
		padding: 0px 20px;
	}
	footer ul li.copyright{
		font-size: 16px;
		padding-top: 7px;
	}
	.right-option{
		/*min-height: 1956px;*/
		padding: 240px 50px 0px 50px;
		font-size: 23px;
	}
	.right-option .search-box{
		margin-bottom: 66px;
	}
	.right-option .search-box input[type=text]{
		height: 50px;
		font-size: 20px;
	}
	.right-option .search-box .btn{
		min-width: 172px;
		font-size: 23px;
		height: 50px;
	}
	.right-option ul li{
		padding: 10px 15px;
	}
	.right-option ul.parent{
		margin-bottom: 30px;
	}
	.right-option ul.parent li.parent-title{
		font-size: 22px;
	}
	.right-option ul.child{
		max-height: 260px;
	}
	.right-option ul.child > li.radio > label{
		padding-left: 15px;
	}
	.checkmark {
	    top: 8px;
	    right: 12px;
	    height: 30px;
	    width: 30px;
	    border: 3px solid #000;
	}
	.checkboxmark {
	    top: 8px;
	    right: 12px;
	    height: 30px;
	    width: 30px;
	    border: 3px solid #000;
	}
	.info-filter{
		font-size: 18px;
		margin-right: 15px;
		margin-top: 3.5px;

	}
	.left-content{
		padding-left: 0px;
		padding-right: 0px;
	}
	.blur-layer{
		padding-left: 65px;
		padding-right: 55px;
		/*min-height: 1956px;*/
	    background: rgb(240, 240, 240); /* Fallback for older browsers without RGBA-support */
	    background: rgba(240, 240, 240, 0.75);
		padding-top: 180px;
	}
	.bg-layer{
		/*min-height: 1956px;*/
	}
	.left-content .page-detail .image-logo{
		width: 245px;
	}
	.left-content .page-detail .image-logo img{
		width: 226px;
	}
	.left-content .page-detail .col-sm-9.desc{
		width: 75%;
	}
	.left-content .page-detail p{
		font-size: 20px;
		margin-bottom: 28px;
	}
	.left-content .page-detail h3.page-title{
		font-size: 40px;
	}
	.left-content .page-detail hr{
		border-bottom: 3px solid #000;
	}
	.left-content .filter-render{
		padding-top: 28px;
	}
	.left-content .thumbnail-detail{
		min-height: 85px;
		padding: 5px 20px;
	}
	.left-content .thumbnail-detail p{
		font-size: 20px;
	}
	.left-content .thumbnail-detail p.category{
		font-size: 16px;
	}
	.pagination-box{
		margin-top: 80px;
	}
	.pagination>li>a, .pagination>li>span{
		font-size: 28px;
		padding: 12px 24px 12px 24px;
		min-width: 60px;
	}
	.pagination>li>a.pag-left, .pagination>li>span.pag-left{
		padding: 12px 24px 12px 22px;
	}
	.pagination>li>a.pag-right , .pagination>li>span.pag-right{
		padding: 12px 22px 12px 24px;
	}
	.menu-collapser{
		top: 140px;
		right: 0px;
		border: 2px solid #000;
		border-right: none;
		border-radius: 9px 0px 0px 9px;
		width: 80px;
		height: 60px;

		font-size: 24px;
	}
	.jumbotron-tenant-detail{
		margin-top: 92px;
		min-height: 590px;
	}
	.jumbotron-profile{
		min-height: 590px;
		margin-top: 92px;
	}
	.jumbotron-sign{
		min-height: 590px;
		margin-top: 92px;
	}
	.jumbotron-signup{
		min-height: 590px;
		margin-top: 92px;
	}
	.detail-tenant .page-title{
		font-size: 40px;
	}
	.detail-tenant .page-title.aboutus-title{
		margin-top: 140px;
		margin-bottom: 170px;
	}
	.detail-tenant .page-title.what-title{
		margin-top: 50px;
		margin-bottom: 90px;
	}
	.detail-tenant .page-title.ourwork-title{
		margin-top: 50px;
		margin-bottom: 90px;
	}
	.detail-tenant .page-title.portfolio-title{
		margin-top: 40px;
		margin-bottom: 50px;
	}
	.detail-tenant .page-title.gallery-title{
		margin-top: 50px;
		margin-bottom: 70px;
	}
	.detail-tenant .page-title.findus-title{
		margin-top: 0px;
		margin-bottom: 50px;
	}
	.detail-tenant .page-title.followus-title{
		margin-top: 0px;
		margin-bottom: 90px;
	}
	.detail-tenant .desc-cool>div{
		margin-bottom: 70px;
	}
	.detail-tenant .desc-cool hr{
		border-bottom: 2px solid #000;
	}
	.detail-tenant .desc-cool img{
		width: 260px;
		height: 260px;
		margin-bottom: 15px;
	}
	.detail-tenant .desc-cool p{
		font-size: 20px;
	}
	.detail-tenant .desc-cool h4{
		font-size: 40px;
	}
	.tenant-what{
		height: 380px;
		width: 380px;
		margin-bottom: 15px;
	}
	.tenant-what p{
		font-size: 38px;
		line-height: 43px;
	}
	.container.detail-tenant{
		width: 75%;
	}
	hr.dt{
		width: 75%;
	}
	.detail-tenant.work img{
		height: 192px;
		width: 100%;
		max-width: 413px;
		margin-bottom: 20px;
	}
	.detail-tenant.catalog img{
		height: 160px;
		width: 122px;

	}
	.detail-tenant .gallery-box{
		height: 473px;
		width: 473px;
	}
	.detail-tenant.the-map .map{
		border: 8px solid #fe7e41;
		height: 630px !important;
	}
	.detail-tenant.social img{
		height: 92px;
		width: 92px;
		margin-right: 8px;
		margin-left: 8px;
	}
	.detail-tenant{
		margin-bottom: 100px;
	}
	.my-account{
		font-size: 28px;
		padding: 120px 0px;
	}
	.my-account .btn{
		padding: 5px 30px;
		font-size: 22px;
	}
	.my-account .btn-back{
		width: 130px;
		height: 51px;
	}
	.my-account .btn-setting a{
		margin-left: 20px;
	}
	.my-account .btn-setting a img{
		width: 65px;
	}
	.my-account hr{
		border-bottom: 2px solid #000;
	}
	.my-account h2{
		font-size: 40px;
	}
	.my-account h5{
		font-size: 20px;
	}
	.my-account .setting{
		margin-top: 90px;
	}
	.my-account .setting>ul>li{
		margin-top: 50px;
	}
	.my-account .setting>ul>li p{
		padding: 10px 25px;
	}
	.my-account .setting-form{
		padding: 40px 50px;
	}
	.my-account .setting-form .form-control{
		height: 50px;
	}
	.my-account .setting-form label{
		font-size: 22px;
		padding-top: 8px;
	}
	.my-account .setting-form .form-btn{
		margin-top: 40px;
	}
	.my-account .setting-form .btn.btn-cancel,
	.my-account .setting-form .btn.btn-cancel:focus,
	.my-account .setting-form .btn.btn-cancel:active:focus, 
	.my-account .setting-form .btn.btn-cancel.active:focus {
		margin-right: 30px;
	}
	.my-account .setting .contact-exist{
		margin-top: 30px;
		padding: 10px 20px 10px 10px;
		height: 220px;
	}
	.my-account .setting .contact-exist ol{
		margin-bottom: 30px;
	}
	.my-account .setting .contact-exist ol li{
		margin-bottom: 10px;
	}
	.my-account .setting .contact-exist ol li label{
		min-width: 150px;
		padding-top: 7px;
		padding-bottom: 5px;
	}
	.my-account .setting .contact-exist ol li input{
		width: 230px;
	}
	.my-account .setting .contact-exist h5{
		font-size: 18px;
	}
	.my-account .setting .contact-form{
		margin-top: 30px;
		padding: 10px 20px;
	}
	.my-account .setting .contact-form select{
		font-size: 20px;
	}
	.my-account .setting .contact-form input{
		font-size: 20px;
	}
	.my-account .setting .contact-form h5{
		font-size: 16px;
		line-height: 18px;
	}
	.my-account.customer.new-job .radio label{
		padding: 12px 30px;
	}
	.prev-log a{
		font-size: 21px;
		margin-left: 10px;
	}
	.header-profile .pp{
		top: -45px;
	}
	.header-profile .pp img{
		height: 250px;
		max-width: 300px;
	}
	.header-profile .detail{
		top: -55px;
	}
	.header-profile .detail .greet{
		font-size: 32px;
	}
	.header-profile .detail .pro-name{
		font-size: 40px;
	}
	.header-profile .detail .contact{
		font-size: 21px;
		margin-bottom: 20px;
	}
	.header-profile .detail a img{
		height: 65px;
		width: 65px;
	}
	.header-profile .detail a.link-plus img{
		height: 40px;
		width: 40px;
		margin-left: 30px;
	}
	.btn.btn-update{
		padding: 10px 30px;
		font-size: 21px;
	}
	.update-form{
		margin-top: 70px;
	}
	.update-form h4{
		font-size: 24px;
	}
	.update-form textarea{
		min-height: 170px;
		border: 2px solid #000;
		font-size: 18px;
	}
	.update-form .select2{
		border: 2px solid #000;
	}
	.update-form .box-upload-logo{
		border: 2px solid #000;
		min-height: 370px;
		padding: 30px;
	}
	.my-account .job-list{
		margin-top: 70px;
	}
	.my-account .job-list table.table>tbody>tr>td{
		margin-top: 30px;
	}
	.my-account .job-list table.table>tbody>tr>td>p{
		padding: 10px 20px;
	}
	.my-account .job-list table.table>tbody>tr.old{
		border: 2px solid #000;
	}
	.my-account .job-list table.table>tbody>tr.old>td.no-style{
		border-left: 2px solid #fff;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		border-right: 2px solid #000;
	}
	.tour-package .map{
		min-height: 1010px !important;
		margin-top: 90px;
	}
	.tour-package .right-option{
		min-height: 921px !important;
		margin-top: 90px;
		max-height: 1270px;
	}
	.tour-package .right-option ol li{
		margin-bottom: 20px;
	}
	.tour-package .right-option ol li img{
		padding-left: 15px;
		padding-right: 15px;
	}
	.project-work{
		margin-top: 150px;
		margin-bottom: 80px;
	}
	.project-work .home-red-list .option-icon img{
		width: 190px;
		height: auto;
		min-width: 190px;
	}
	.project-work .home-red-list .option-icon{
		min-height: 340px;
		padding-top: 60px;
	}
	.project-work h3.page-title{
		font-size: 36px;
		margin-bottom: 60px;
	}
	.project-work h4{
		font-size: 30px;
		min-height: 60px;
	}
	.project-work p{
		font-size: 18px;
	}
	.faq{
		margin-top: 160px;
		margin-bottom: 100px;
	}
	.faq .page-detail .page-title{
		font-size: 40px;
	}
	.faq .page-detail p{
		font-size: 20px;
	}
	.drop-faq{
		padding: 5px 20px;
		margin-top: 30px;
	}
	.drop-faq h4{
		font-size: 22px;
		padding-top: 8px;
	}
	.drop-faq span{
		padding: 10px 0px 8px 10px;
	}
	.drop-faq span a{
		padding: 10px;
		font-size: 22px;
	}
	.drop-faq p{
		font-size: 22px;
	}
	.detail-faq{
		padding: 10px 40px;
	}
	.global.left-content{
		background-size: auto auto;
	}
	.right-option .btn.btn-sm{
		padding: 4px 14px;
		font-size: 18px;
	}
	.left-content .thumbnail img{
		width: 100%;
		height: auto;
		max-height: 320px;
	}
	.left-content .thumbnail .div-image{
		/*border: 2px solid #fe7e41;*/
		height: 320px;
		background: #fff;
		display: table;
		width:100%;
		max-height: 320px;
	}
	.left-content .thumbnail .span-image{
		display: table-cell;
		vertical-align: middle;
	}
	.login-form{
		padding: 50px 80px  70px 80px;
		margin-bottom: 40px;
	}
	.login-form .form-group{
		margin-bottom: 30px;
	}
	.login-form h3{
		font-size: 36px;
	}
	.login-form p{
		font-size: 18px;
	}
	.divider {
		width:100%;
		text-align:center;
		font-size: 18px;
		padding: 0px 50px;
	}
	.divider hr {
		width:40%;
		border-bottom: 1.3px solid #000;
		margin-top: 10px;
	}
	.login-form input[type=text],.login-form input[type=password],.login-form input[type=email]{
		border-radius: 0px;
		border: 1.3px solid #000;
		height: 51px;
		font-size: 18px;
	}
	.login-form .btn{
		padding: 7px 30px;
		margin-top: 30px;
		font-size: 26px;
		width: 415px;
	}
	.login-form-box{
		border: 1px solid #000;
		padding: 0px 0px;
		/*width: 94%;*/
	}
	.login-page{
		margin-top: 120px;
		width: 90%;
		/*padding: 0px 50px;*/
	}
	.login-form-box h3{
		font-size: 28px;
		margin-top: 0px;
		padding: 15px 50px;
	}
	.login-form-box .form-group{
		padding: 0px 50px;
	}
	.login-form label{
		font-size: 18px;
	}
	.login-form a{
		font-size: 18px;
	}
	.login-form-box .btn{
		width: 200px;
	}
	.login-form-box .social-item{
		margin-top: 15px;
	}
	.login-form-box .social img{
		height: 49px;
		width: auto;
	}
	.regis-page{
		margin-top: 100px;
		width: 90%;
	}
	.regis-form{
		padding: 30px 50px  40px 50px;
		margin-bottom: 40px;
	}
	.regis-form-box h3{
		font-size: 28px;
		padding: 15px 30px;
	}
	.regis-form-box .form-group{
		padding: 0px 30px;
	}
	.regis-form-box p{
		font-size: 18px;
		padding: 0px 30px;
	}
	.regis-page p{
		font-size: 18px;
	}
	.regis-form .btn{
		padding: 10px 30px;
		font-size: 26px;
		min-width: 200px;
	}
	.regis-form label{
		font-size: 18px;
	}
	.regis-form input[type=text],.regis-form input[type=password],.regis-form input[type=email],
	.register-tenant input[type=text],.register-tenant input[type=password],.register-tenant input[type=email],
	.new-job input[type=text],.register-tenant input[type=password],.register-tenant input[type=email]
	{
		border: 1.3px solid #000;
		height: 51px;
		font-size: 18px;
	}
	.new-job textarea{
		font-size: 18px;
	}
	.register-tenant input[type=file],
	.new-job input[type=file]{
		border: 1.3px solid #000;
		height: 51px;
		font-size: 18px;
		padding-top: 10px;
	}
	.regis-form a{
		font-size: 18px;
	}
	.regis-form-box2{
		padding: 50px 70px;
	}
	.regis-form label.checkbox-inline,.regis-form label.checkbox{
		margin-right: 30px;
	}
	.regis-form .checkboxmark {
	    top: 0px;
	    right: 0px;
	    left: -20px;
	    height: 22px;
	    width: 22px;
	}
	.regis-form .checkboxmark:after {
	    left: 6px;
	    top: 1px;
	    width: 8px;
	    height: 14px;
	    border-width: 0 3px 3px 0;
	}
	.regis-submit{
		padding-top: 60px !important;
	}
	.tour-package .right-option .header-tour{
		margin-bottom: 40px;
	}
	.tour-package .right-option h3{
		width: 240px;
	}
	.tour-package .right-option h3 .h31{
		font-size: 40px;
	}
	.tour-package .right-option h3 .h32{
		font-size: 42px;
	}
	.tour-package .right-option h3 .h33{
		font-size: 43px;
	}
	.tour-package .right-option .header-tour hr{
		margin-top: 10px;
	}
	.tenant-found{
		font-size: 22px;
	}
	.loading img{
		width: 600px;
		height: auto;
		transform: translateY(100%);
	}
	.register-tenant{
		width: 60%;
		margin-top: 170px;
	}
	.register-tenant .regis-form-box .form-group{
		padding: 0px 0px;
		margin-bottom: 10px;
	}
	.register-tenant .page-detail .page-title{
		font-size: 38px;

	}
	.register-tenant .page-detail p{
		font-size: 18px;
		margin-top: 50px;

	}
	.register-tenant h4{
		font-size: 24px;
		padding: 8px 30px;
	}
	.register-tenant label{
		font-size: 21px;
	}
	.register-tenant .map{
		height: 500px !important;
	}
	.register-tenant .regis-form-box{
		margin-bottom: 30px;
	}
	.register-tenant .regis-form-box2.active{
		padding-bottom: 30px;
	}
	.add-more{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.add-more span{
		font-size: 21px;
		line-height: 21px;
	}
	.add-more .fa-2x{
		font-size: 60px;
	}
	.add-more a{
		margin-left: 15px;
	}
	.register-tenant label.radio-inline,.register-tenant label.radio,
	.register-tenant label.checkbox-inline,.register-tenant label.checkbox{
		padding: 8px 30px 8px 70px;
		margin-left: 15px;
		margin-right: 10px;
		margin-top: 8px;
		/*margin-bottom: 5px;*/
	}
	.register-tenant .checkmark {
	    top: 10px;
	    right: 0px;
	    left: 15px;
	    height: 25px;
	    width: 25px;
	    border: 2px solid #000;
	}
	.register-tenant label.radio-inline input:checked ~ .checkmark {
	    border: 2px solid #fe7e41;
	}
	.register-tenant .checkboxmark {
	    top: 10px;
	    right: 0px;
	    left: 15px;
	    height: 25px;
	    width: 25px;
	    border: 2px solid #000;
	}
	.register-tenant label.checkbox-inline input:checked ~ .checkboxmark {
	    border: 2px solid #fe7e41;
	}
	.required{
		font-size: 18px;
	}
	.register-tenant-form{
		margin-top: 60px;
	}
	.register-tenant .select2-container--default .select2-selection--multiple,
	.register-tenant .select2-container--default .select2-selection--single,
	.new-job .select2-container--default .select2-selection--multiple,
	.new-job .select2-container--default .select2-selection--single{
		min-height: 51px;
	}
	.register-tenant .select2-container--default.select2-container--focus .select2-selection--multiple,
	.register-tenant .select2-container .select2-container--default .select2-container--above .select2-container--focus,
	.new-job .select2-container--default.select2-container--focus .select2-selection--multiple,
	.new-job .select2-container .select2-container--default .select2-container--above .select2-container--focus{
		min-height: 51px;
	}
	.register-tenant .select2,
	.new-job .select2{
		font-size: 18px;
	}
	.register-tenant .select2-container--default .select2-selection--multiple .select2-selection__choice,
	.new-job .select2-container--default .select2-selection--multiple .select2-selection__choice{
		padding: 3px 4px 3px 4px;
	}
	.register-tenant .select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
	.new-job .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
		margin-left: 7px;
	}
	.register-tenant .select2-container--default .select2-selection--multiple .select2-selection__rendered,
	.new-job .select2-container--default .select2-selection--multiple .select2-selection__rendered{
		line-height: 30px;
	}
	.register-tenant .select2-container--default .select2-selection--single .select2-selection__rendered,
	.new-job .select2-container--default .select2-selection--single .select2-selection__rendered{
		line-height: 51px;
	}
	.register-tenant input[type=submit],.register-tenant button[type=button],
	.new-job input[type=submit],.register-tenant button[type=button]{
		padding: 10px 40px;
		font-size: 21px;
		width: 210px;
	}
	.register-tenant-sbm{
		margin-top: 60px;
	}
	.select2-container--default .select2-results>.select2-results__options{
		font-size: 18px;
		padding: 8px 10px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow{
		top: 13px;
		right: 10px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow b{
		border-width: 8px 6px 0 6px;
	}
	.register-tenant .input-group,
	.new-job .input-group{
		margin-bottom: 20px;
	}
	.register-tenant .input-group-addon,
	.new-job .input-group-addon{
	    min-width: 110px;
	    font-size: 18px; 
	}
	.event-detail{
		padding-top: 80px;
		border-bottom: 5px solid #eee;
		padding-bottom: 50px;
		width: 75% !important;
	}
	.event-detail .header-image .carousel{
		margin-top: 100px;

	}
	.event-detail .header-image .carousel .item{
		height: 300px;
	}
	.event-detail .header-image .carousel img{
		/*padding-top: 100px;*/
		/*width:100%;*/
		height: 100%;
		margin-right: auto;
		margin-left: auto;
	}
	.event-detail h3{
		margin-top: 180px;
		font-size: 48px;
		line-height: 55px;
		padding-left: 10px;
	}
	.event-detail .event-opsi{
		border-left: 5px solid #eee;
		margin-top: 30px;
		font-size: 18px;
	}
	.event-detail .event-opsi a{
		margin-bottom:90px;
	}
	.event-detail .event-opsi .btn{
		padding: 10px 50px;
		font-size: 21px;
	}
	.event-detail .event-opsi p img{
		width: 60px;
		height: auto;
		margin-bottom: 35px;
	}
	.event-detail .event-opsi p{
		margin-bottom: 70px;
	}
	.event-detail .event-opsi p span.span1{
		font-size: 30px;
		line-height: 32px;
	}
	.event-detail .event-opsi p span.span2{
		font-size: 25px;
		line-height: 24px;
	}
	.event-detail .event-description{
		margin-top: 30px;
		font-size: 18px;
		padding-top: 20px;
		padding-right: 80px;
	}
	.event-detail .event-description h1{
		font-size: 48px;
	}
	.event-detail .event-description h2{
		font-size: 40px;
	}
	.event-detail .event-description h3{
		font-size: 34px;
	}
	.event-detail .event-description h4{
		font-size: 26px;
	}
	.event-detail .event-description h5{
		font-size: 24px;
	}
	.event-detail .event-description p{
		font-size: 18px;
	}
	.event-detail .event-description li{
		font-size: 18px;
	}
	.event-detail .event-description a{
		font-size: 18px;
	}
	.event-tags h4{
		font-size: 30px;
	}
	.event-tags{
		padding-bottom: 130px;
	}
	.event-tags p span.badge-tags{
		margin: 10px 10px;
		padding:8px 20px;
		font-size: 17px;
	}
	.news-detail{
		margin-top: 180px;
		margin-bottom: 140px;
		width: 60% !important;
	}
	.news-detail hr{
		border-bottom: 5px solid #999;
	}
	.news-detail .header-image img{
		width:100%;
		height: 400px;
	}
	.news-detail h3{
		padding-top: 118px;
		font-size: 48px;
	}
	.news-detail .list-news-side{
		border-left: 5px solid #eee;
		margin-top: 80px;
		font-size: 18px;
	}
	.news-detail .list-news-side li{
		margin-bottom: 50px;
	}
	.news-detail .list-news-side a{
		font-size: 18px;
		margin-bottom:80px;
	}
	.news-detail .list-news-side a img{
		width: 100%;
		height: auto;
	}
	.news-detail .list-news-side a p{
		margin-top: 13px;
	}
	.news-detail .news-description{
		margin-top: 80px;
		padding-right: 30px;
	}
	.news-detail .news-description h1{
		font-size: 48px;
	}
	.news-detail .news-description h2{
		font-size: 40px;
	}
	.news-detail .news-description h3{
		font-size: 34px;
	}
	.news-detail .news-description h4{
		font-size: 30px;
	}
	.news-detail .news-description h5{
		font-size: 24px;
	}
	.news-detail .news-description p{
		font-size: 18px;
	}
	.news-detail .news-description li{
		font-size: 18px;
	}
	.news-detail .news-description a{
		font-size: 18px;
	}
	body.ntp{
		/*background: url('/assets/images/right_flower.png');*/
		background-repeat: no-repeat;
		background-size: 30% auto;
		/*background-position: bottom right;*/
		background-position: 100% 94%;
	}
	.bg-layer{
		/*background: url('/assets/images/left_flower.png');*/
		/*min-height: 1535px;*/
		background-repeat: no-repeat;
		background-size: auto auto;
		background-position: 0% 2.5%;
	}
	.edu-regis-tenant input[type=text]{
		padding-left: 15px;
		padding-right: 15px;
	}
	.tenant-detail-logo{
		height: 350px;
		width: auto;
		margin-top: 50px;
	}
	.tenant-detail-name{
		font-size: 62px;
	}
	.update-form .portfolio-box{
		min-height: 370px;
	}
	.portfolio-img{
		height:120px;
		width:auto;
	}
	.jumbotron-hackathon{
		height: 565px;
		background-size: 100% auto;
	}
	.jumbotron-hackathon h3{
		/*margin-top: 180px;*/
		font-size: 25px;
	}
	.detail-hackathon1{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.detail-hackathon{
		margin-bottom: 80px;
	}
	.detail-hackathon .page-detail2 p{
		font-size: 25px;
	}
	.detail-hackathon .work-image p{
		font-size: 20px;
	}
	.detail-hackathon .page-detail2{
		text-align: center;
		font-family: 'Poppins Medium';
		margin-bottom: 60px;
		margin-top: 30px;
	}
	.detail-hackathon .desc-cool-list>div{
		font-size: 20px;
		border-bottom: 1px solid #000;
	}
	.detail-hackathon .desc-cool-list>div>div{
		padding-bottom: 10px;
		padding-top: 10px;
		margin-bottom: 5px;
	}
	.detail-hackathon .desc-cool>div{
		margin-bottom: 39px;
		padding-left: 40px;
		padding-right: 30px;
	}
	.detail-hackathon .desc-cool hr{
		border-bottom: 1px solid #000;
	}
	.detail-hackathon .desc-cool td{
		font-size: 16px;
		font-family: 'Poppins Regular';
	}
	.detail-hackathon .work-image{
		text-align: center;
		font-family: 'Poppins Medium';
		font-family: 17px;
	}
	.detail-hackathon .work-image img{
		width: 235px;
		height: auto;
		margin-bottom: 30px;
	}
	.detail-hackathon .desc-cool p{
		font-size: 17px;
		text-align: justify;
	}
	.detail-hackathon .desc-cool h4{
		font-family: 'Poppins Semibold';
		font-size: 25px;
		color: #fe7e41;
	}
	.detail-hackathon .tenant-what-list{
		margin-left: 0px;
		margin-right: 0px;
		width: 100%;
	}
	.container.detail-hackathon{
		width: 80%;
		padding-left: 0px;
		padding-right: 0px;
	}
	.detail-hackathon .box-list{
		border: 1px solid #fe7e41;
		margin-bottom: 50px;
		padding: 20px 30px;
		min-height: 250px;
	}
	.detail-hackathon .box-list h4{
		color: #fe7e41;
		text-align: center;
		font-size: 22px;
		font-family: 'Poppins Semibold';
		margin-bottom: 30px;
	}
	.detail-hackathon .box-list p, .detail-hackathon .box-list ul li{
		text-align: justify;
		font-family: 'Poppins Regular';
		font-size: 17px;
	}
	.detail-hackathon .box .reg{
		padding: 10px 20px;
	}
	.detail-hackathon .box .reg .btn{
		border-radius: 0px;
		color: #fff;
		text-decoration: none;
		font-size: 20px;
		font-family: 'Poppins Semibold';
		padding: 10px 50px;
	}
	.detail-hackathon .box .reg img{
		width: 100px;
		height: auto;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.detail-hackathon .box .reg p{
		font-family: 'Poppins Regular';
		font-family: 17px;
	}	
	.register-hackathon .form-group{
		margin-bottom: 20px;
	}
	.register-hackathon h4{
		text-align: center;
		color: #fe7e41;
		font-family: 'Poppins Semibold';
		font-size: 25px;
		margin-bottom: 50px;
	}
	.register-hackathon p{
		font-size: 17px;
	}
	.register-hackathon label{
		font-family: 'Poppins Medium';
		font-size: 20px;
		font-weight: normal;
	}
	.register-hackathon .form-group label{
		font-family: 'Poppins Regular';
		font-size: 19px;
		/*font-weight: normal;*/
	}
	.register-hackathon .btn{
		border-radius: 0px;
		color: #fff;
		text-decoration: none;
		font-size: 20px;
		font-family: 'Poppins Medium';
		padding: 7px 30px;
		margin-top: 30px;
	}
	.register-hackathon .form-group2{
		padding-left: 15px;
		padding-right: 15px;
	}
	.register-hackathon input[type=file],.register-hackathon input[type=text],.register-hackathon input[type=email],.register-hackathon textarea,
	.register-hackathon .select2-container--default .select2-selection--multiple{
		border-radius: 0px;
		font-size: 17px;
		font-family: 'Poppins Regular';
		border: 1px solid #000;
		margin-top: 8px;
	}
	.thank-hackathon h4{
		text-align: center;
		color: #fe7e41;
		font-family: 'Poppins Semibold';
		font-size: 25px;
		margin-bottom: 50px;
	}
	.thank-hackathon .thank-box{
		background: #757575;
		width:100%;
		height:100%;
		padding: 35px 50px;
	}
	.thank-hackathon .thank-box p{
		color: #fff;
		font-family: 'Poppins Medium';
		font-size: 20px;
		text-align: center;
	}
	.detail-safarihki .box-list.long-content {
		min-height: 500px;
	}
}
@media (max-width: 1807px){
	.left-content .page-detail .col-sm-9.desc{
		width: 75%;
	}
}
@media (max-width: 1733px){
	.left-content .page-detail .col-sm-9.desc{
		width: 75%;
	}
}
@media (max-width: 1608px){
	.left-content .page-detail .col-sm-9.desc{
		width: 74%;
	}
}
@media (max-width: 1549px){
	.left-content .page-detail .col-sm-9.desc{
		width: 73%;
	}
}
@media (max-width: 1497px){
	.left-content .page-detail .col-sm-9.desc{
		width: 71%;
	}
}
@media (max-width: 1439px){
	body{
		font-size: 16px;
	}
	.left-content .page-detail .col-sm-9.desc{
		width: 75%;
	}
}
@media (max-width: 1193px){
	.left-content .page-detail .col-sm-9.desc{
		width: 73%;
	}
}
@media (max-width: 1113px){
	.left-content .page-detail .col-sm-9.desc{
		width: 71%;
	}
}
@media (max-width: 1041px) and (min-width:989px){
	.left-content .page-detail .col-sm-9.desc{
		width: 69%;
	}
}
@media (max-width: 989px){
	.left-content .page-detail .col-sm-9.desc{
		width: 100%;
	}
}
@media (min-width: 1075px){
	.search-box .xs{
		display: none;
	}
}
@media (max-width: 1074px){
	.search-box .sm{
		display: none;
	}
	.right-option .search-box .btn{
		min-width: 50px;
	}
}
@media (min-width: 768px){
	.container {
	    width: 750px;
	}
	.menu-collapser{
		/*display: none;*/
	}
	.right-option{
		display: block;
	}
	.detail-hackathon .work-image .image-left{
		/*margin-left: -45px;*/
	}
	.detail-hackathon .work-image .image-right{
		/*margin-right: -25px;*/
	}
	.detail-safarihki .box-list {
		min-height: 310px;
	}
	.detail-safarihki .box-list.long-content {
		min-height: 540px;
	}
	
}
/* @media (min-width: 768px) and (max-width: 992px) {
	.detail-safarihki .box-list.long-content {
		min-height: 575px;
	}
} */
@media (min-width: 839px) and (max-width: 992px) {
	.detail-safarihki .box-list.long-content {
		min-height: 540px;
	}
}
@media (min-width: 992px){
	.container {
	    width: 970px;
	}
}
@media (min-width: 1200px){
	.container {
	    width: 1170px;
	}
}
@media (min-width: 768px) and (max-width: 980px){
	.navbar{
		padding: 10px 30px;
	}
	.right-option{
		padding-top: 190px;
	}
	.blur-layer{
		padding-top: 190px;
	}
	.menu-collapser{
		top: 180px;
	}
	.jumbotron-tenant-detail{
		margin-top: 115px;
	}
	.jumbotron-profile{
		margin-top: 115px;
	}
}
@media (max-width: 991px){
	.my-account .setting .contact-exist{
		padding: 0px 10px;
		text-align: center;
		height: 100%;
	}
	.my-account .setting .contact-form{
		padding: 30px 20px;
		border-top: 1px solid #000;
		border-left: none;
	}
}
@media (max-width: 767px){
	.container.detail-tenant{
		width: 90%;
	}
	hr.dt{
		width: 90%;
	}
	.detail-tenant .desc-cool{
		text-align: center;
	}
	.detail-tenant .desc-cool img{
		margin-bottom: 10px;
	}
	.tenant-what{
		margin: 10px auto;
	}
	.detail-tenant.work .work-image{
		text-align: center;
		margin-bottom: 15px;
	}
	.detail-tenant.social img{
		margin-bottom: 10px;
	}
	.my-account .setting-form .right-label{
		text-align: left;
	}
	.right-option{
		display: none;
	}
	.menu-collapser{
		top: 110px;
		display: block;
	}
	.tour-package .right-option{
		margin-top: 15px;
	}
	footer ul li.logo-footer{
		text-align: center;	
	}
	footer ul li.copyright{
		text-align: center;
	}
	.login-form{
		padding: 30px 10px  40px 10px;
	}
}
@media (min-width: 1900px){
	.jumbotron-tenant-detail{
		min-height: 700px;
	}
}
@media (min-width: 768px) and (max-width: 839px){
	.tour-package .right-option{
		/*margin-top: 115px;*/
	}
	.menu-collapser{
		top: 160px;
	}
	.tour-package .map{
		margin-top: 115px;
	}
}
@media (max-width: 807px){
	.right-option{
		top: 50px;
	}
}

@media (min-width: 768px) and (max-width: 807px){
	.tour-package .map{
		/*margin-top: 160px;*/
	}
	.tour-package .right-option{
		margin-top: 16px;
	}
	.menu-collapser{
		top: 160px;
	}
}
@media (max-width: 768px){
	.right-option{
		position: absolute;
		background: rgb(255,255,255);
		right: 0;
		height: 100%;
	}
}
@media (max-width: 560px){
	.login-form-box .social img{
		width: 100%;
		height: auto;
	}
}
@media (min-width: 992px) and (max-width: 1241px){
	.login-form-box .social img{
		width: 100%;
		height: auto;
	}
}
@media (min-width: 1440px) and (max-width: 1680px){
	.login-form-box .social img{
		width: 100%;
		height: auto;
	}
	.detail-safarihki .box-list.long-content {
		min-height: 575px;
	}
}
@media (max-width: 468px){
	.login-page{
		width: 100%;
	}
}
@media (min-width: 1020px) and (max-width: 1280px){
	.bg-layer{
		background-size: 65% auto;
		background-position: 0% 2.5%;
	}
	.detail-safarihki .box-list.long-content {
		min-height: 540px;
	}
}
@media (min-width: 1280px) and (max-width: 1440px){
	.detail-safarihki .box-list.long-content {
		min-height: 380px;
	}
}
@media (min-width: 768px) and (max-width: 839px){
	.bg-layer{
		background-size: 65% auto;
		background-position: 0% 4%;
	}
	.detail-safarihki .box-list.long-content {
		min-height: 575px;
	}
}
@media (min-width: 100px) and (max-width: 767px){
	.bg-layer{
		background-size: 65% auto;
		background-position: 0% 1%;
	}
	body.ntp{
		background-size: 350px auto;
		background-position: 100% 96.5%;
	}
}
@media(max-width: 912px) and (min-width: 768px){
	.jumbotron-hackathon{
		margin-top: 84px;
	}
	.jumbotron-hackathon h3{
		/*font-size: 28px;*/
		/*margin-top: 95px;*/
	}
}
@media (max-width: 1244px){
	.edu-regis-tenant input[type=text]{
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media(max-width: 1000px){
	.register-tenant{
		width: 68%;
	}
	.event-detail h3{
		/*padding-top: 70px;*/
		font-size: 28px;
	}
	.event-detail .event-description{
		padding-right: 10px;
	}
	footer ul{
		padding-left: 20px;
	}
	.news-detail{
		width: 75% !important;
	}
	.news-detail h3{
		font-size: 34px;
	}
	.jumbotron-profile{
		min-height: 300px;
	}
}
@media (max-width: 768px){
	.detail-hackathon .work-image img{
		width: 100%;
		height: auto;
		max-width: 235px;
		text-align: center;
	}
	.detail-hackathon .p-header{
		text-align: center !important;
	}
}
@media(max-width: 767px){
	.jumbotron-hackathon h3{
		/*font-size: 28px;*/
		/*margin-top: 118px;*/
	}
	.regis-form .btn{
		margin-top: 10px;	
	}
	.event-detail .event-opsi{
		border:none;
	}
	.news-detail .list-news-side{
		border-left:none;
		border-top: 3px solid #eee;
		padding-left: 0px;
		padding-top: 30px;
	}
	.event-detail{
		width: 85% !important;
	}
	.news-detail{
		width: 85% !important;
	}
	.event-detail h3{
		padding-left: 0px;
		margin-top: 30px;
		text-align: center;
	}
	.event-detail .event-description{
		padding-right: 0px;
	}
	.news-detail .list-news-side a img{
		max-width: 300px;
	}
	.news-detail h3{
		font-size: 28px;
		padding-top:  30px;
	}
	.partner-hackathon img.partner{
		width: 100%;
		height: auto;
	}
	.header-profile .detail{
		top: 0;
		text-align: center;
	}
	.header-profile .pp{
		text-align: center;
	}
	.edu-regis-tenant input[type=text]{
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media(min-width: 679px) and (max-width: 1000px){
	.jumbotron-hackathon{
		height: 565px;
	}
	
}
@media(max-width: 678px){
	.right-option{
		width: 300px;
	}
	.jumbotron-hackathon{
		height: 515px;
	}
	.container-fluid.full{
		/*height: 300px;*/
	}
	.jumbotron-hackathon h3{
		/*font-size: 25px;*/
		/*margin-top: 114px;*/
	}
	.regis-page{
		width: 100%;
	}
	.regis-page .regis-form-box2{
		padding-right: 10px;
		padding-left: 10px;
	}
	.register-tenant{
		width: 75%;
	}
	.detail-safarihki .box-list ol.pl-1-sm {
		padding-left: 5%;
	}

	.detail-safarihki .box-list ul.pl-1-sm {
		padding-left: 7%;
	}
	.slider-container {
		width: 100%;
		padding: 0 5px;
	}
}
@media(max-width: 565px){
	.jumbotron-hackathon{
		height: 515px;
	}
	.container-fluid.full{
		/*height: 250px;*/
	}
	.jumbotron-hackathon h3{
		/*font-size: 22px;*/
		/*margin-top: 82px;*/
	}
	.detail-hackathon .desc-cool>div{
		margin-bottom: 0px;
	}
	.detail-hackathon .desc-cool p{
		font-size: 12px;
	}
	.register-tenant{
		width: 87%;
	}
	footer ul{
		padding-left: 20px;
	}
}
@media(max-width: 450px){
	.navbar-brand img{
		width: 185px;
	}
	.detail-hackathon .desc-cool>div{
		padding-left: 0px;
		padding-right: 0px;
	}
	.regis-form{
		padding-left: 10px;
		padding-right: 10px;
	}
	.register-tenant .regis-form-box2{
		padding-right: 15px;
		padding-left: 15px;
	}
}
@media(max-width: 333px){
	.navbar-brand img{
		margin-top: -30px;
	}
	.jumbotron-hackathon{
		margin-top: 42px;
	}
	.jumbotron-hackathon h3{
		/*font-size: 19px;*/
		/*margin-top: 85px;*/
	}
	footer ul{
		padding-left: 20px;
	}
	footer ul li{
		padding-left: 0px;
		padding-right: 0px;
	}
	.footer .col-lg-1, .footer .col-lg-10, .footer .col-lg-11, .footer .col-lg-12, .footer .col-lg-2, .footer .col-lg-3, .footer .col-lg-4, .footer .col-lg-5, .footer .col-lg-6, .footer .col-lg-7, .footer .col-lg-8, .footer .col-lg-9, .footer .col-md-1, .footer .col-md-10, .footer .col-md-11, .footer .col-md-12, .footer .col-md-2, .footer .col-md-3, .footer .col-md-4, .footer .col-md-5, .footer .col-md-6, .footer .col-md-7, .footer .col-md-8, .footer .col-md-9, .footer .col-sm-1, .footer .col-sm-10, .footer .col-sm-11, .footer .col-sm-12, .footer .col-sm-2, .footer .col-sm-3, .footer .col-sm-4, .footer .col-sm-5, .footer .col-sm-6, .footer .col-sm-7, .footer .col-sm-8, .footer .col-sm-9, .footer .col-xs-1, .footer .col-xs-10, .footer .col-xs-11, .footer .col-xs-12, .footer .col-xs-2, .footer .col-xs-3, .footer .col-xs-4, .footer .col-xs-5, .footer .col-xs-6, .footer .col-xs-7, .footer .col-xs-8, .footer .col-xs-9{
		padding-left: 0px;
		padding-right: 0px;
	}
	.footer{
		padding-left: 0px;
		padding-right: 0px;	
	}
	footer ul li.menu-seperated{
		border: none;
		padding-right:5px;
		padding-left:5px;
	}
}


