@font-face {
  font-family: 'Poppins Regular';
  src: url('../fonts/Poppins-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Poppins Light';
  src: url('../fonts/Poppins-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Poppins Bold';
  src: url('../fonts/Poppins-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Poppins Medium';
  src: url('../fonts/Poppins-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Poppins Semibold';
  src: url('../fonts/Poppins-SemiBold.otf') format('opentype');
}
html{
	min-height: 100%;
	position: relative;
}
body {
    font-family: 'Poppins Regular', sans-serif;
	font-size: 16px;
    color: #000;
	/*background: rgb(220, 220, 220);*/
	/*position: center;*/
}
.navbar{
	min-height: 65px;
	padding: 0px 30px;
	z-index: 20;
}
.navbar-default{
	background: rgb(255, 255, 255);
	border-color: rgb(220, 220, 220,0);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: transparent;
	font-weight: bold;
	color: #000;
}
.navbar-brand{
	padding: 10px 15px;
	padding-bottom: 0px;
}
.navbar-brand img{
	/*height: 38px;*/
	width: 210px;
	margin-top: -8px;
}
.navbar-default .navbar-nav>li>a{
	color: #000;	
	font-size: 18px;
}
.navbar-default .navbar-nav>li>p{
	color: #000;	
	font-size: 14px;
}
.nav>li>a{
	padding: 25px 23px;
	padding-bottom: 0px;
}
.nav>li>p{
	padding: 23px 23px;
	padding-bottom: 0px;
}
.nav>li>p>a{
	color: #000;
	text-decoration: none;
}
.nav>li>p>a.btn{
	border-radius: 8%;
	padding: 0px 10px;
	font-size: 16px;
}
.nav>li>p>a.btn.inactive{
	border: 1px solid #ddd;
	background: #ddd;
}
.nav>li>p>a.btn.active{
	border: 1px solid #fe7e41;
	background: #fff;
}
.btn-key{
	background: #777;
	color:#fff;
	padding:1.5px 14px;
	font-size: 18px;
}
.nav>li>select.select-locale{
	margin: 20px 15px;
	padding-bottom: 0px;
	background: none;
	border: none;
	outline: none;
}
.navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu{
	padding: 10px 8px;
	margin-top: 20px;
	margin-right: -20px;
	border: none;
	box-shadow: none;
	border-radius: 0px;
}
.navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu>li>a{
	padding: 6px 20px;
	font-size: 16px;
}
.navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu>li>a>i{
	color: #fe7e41;
	margin-right: 10px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	color: #000;
	background: transparent;
}
.nav>li>select.select-locale:focus,.nav>li>select.select-locale:active{
	border: none;
	box-shadow: none;
	outline: none;
}
.nav>li>select.select-locale> option{ 
	-webkit-appearance: none !important;
    background: #fff !important;
	outline: none;
	border: none;
}
.nav>li>select.select-locale > option:hover{ 
	-moz-appearance: none !important; 
	-webkit-appearance: none !important;
	background: #fe7e41;
}
.nav>li>select.select-locale:focus > option:checked{ 
    background: #fe7e41 !important;
    color: #fff;
}
body.ntp{
	/*background: url('/assets/images/right_flower.png');*/
	background-repeat: no-repeat;
	background-size: 30% auto;
	/*background-position: bottom right;*/
	background-position: 100% 96%;
}
body.ntp2{
	background: #fff;
}
body.ntp footer{
	font-size: 14px;
	color: #000;
	background: #fff;
	z-index: 20;
	position: static;
	width: 100%;
	bottom: 0;
	margin-top: 0px;
	/*min-height: 100px;*/
}
body.ntp footer .footer{
	background: #fff;

}
body.tp footer{
	font-size: 14px;
	color: #000;
	background: #fff;
	z-index: 20;
	/*position: fixed;*/
	width: 100%;
	bottom: 0;
	margin-top: 0px;
}
footer ul{
	margin-top: 50px;
}
footer ul li.logo-footer img{
	height: 46px;
	width: 54px;
	margin-top: -20px;
}
footer ul li.menu-seperated{
	border-right: 1px solid #111;
}
footer ul li{
	display: inline;
	padding: 0px 15px;
	margin-bottom: 20px;
}
footer ul li a{
	color: #000;
	text-decoration: none;
}
footer ul li a:hover{
	text-decoration: none;
}
footer ul li.copyright{
	font-size: 11px;
	padding-top: 5px;
	float: right;
}
.content{
	/*background: #fff;*/
	padding-bottom: 1px;
}
.tenant-list{
	padding-right: 0px;
	padding-left: 0px;
}
.right-option{
	/*min-height: 1535px;*/
	padding: 153px 30px 0px 30px;
	font-size: 15px;
	/*min-width: 300px;*/
	
}
.global.right-option{
	/*background: url('/assets/images/right_flower.png');*/
	/*background-repeat: no-repeat;
	background-size: 87% auto;
	background-position: bottom right;*/
}
.right-option .btn.btn-sm{
	color: #fff;
	border-radius: 0px;
	padding: 2px 8px;
	opacity: .7;
	background: rgba(50,50,50,.6);
	font-size: 13px;
}
.right-option .btn.btn-sm:hover{
	background: #fe7e41;
	color: #fff;
	opacity: 1;
}
.right-option .search-box{
	margin-bottom: 30px;
}
.right-option .search-box input[type=text]{
	border-radius: 0px;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	height: 34px;
	font-size: 14px;
}
.right-option .search-box .btn{
	border-radius: 0px;
	min-width: 110px;
	background: #fe7e41;
	border: 1px solid #fe7e41;
	font-size: 15px;
	height: 34px;
}
.right-option ul li{
	padding: 5px 10px;
}
.right-option ul li{
	list-style: none;
	background:rgb(240, 240, 240);
}
.right-option ul.parent{
	padding-left: 0px;
	border-bottom: 1px solid #fe7e41;
	margin-bottom: 20px;
}
.right-option ul.parent li.parent-title{
	font-size: 16px;
}
.right-option ul.parent> a{
	text-decoration: none;
	color: #000;
}
.right-option ul.parent> a > li .fa.fa-chevron-left,
.right-option ul.parent> a > li .fa.fa-chevron-down{
	padding-top: 5px;
}
.right-option ul.child{
	margin-left: 0px;
	padding-left: 0px;
	overflow-y: auto;
	max-height: 175px;
	width: 100%;
}
.right-option ul.parent > li.radio > label,
.right-option ul.child > li.radio > label{
	width: 100%;
	text-align: left;
	color: #000;
	padding-left: 10px;
}
.right-option ul.child > li.checkbox > label{
	width: 100%;
	text-align: left;
	color: #000;
	padding-left: 10px;
}
.right-option .checkbox, .right-option .radio{
	margin-top: 0px;
	margin-bottom: 0px;
}
.right-option ul.parent > li.radio > label input[type=radio],
.right-option ul.child > li.radio > label input[type=radio]{
	display: none;
}
.right-option ul.child > li.checkbox > label input[type=checkbox]{
	display: none;
}
.checkmark {
    position: absolute;
    top: 5px;
    right: 8px;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    background-color: #fff;
    border: 2px solid #000;
}
.checkboxmark {
    position: absolute;
    top: 5px;
    right: 8px;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #000;
}
.right-option ul.parent > li.radio > label:hover input ~ .checkmark,
.right-option ul.child > li.radio > label:hover input ~ .checkmark,
.right-option ul.child > li.checkbox > label:hover input ~ .checkboxmark {
    background-color: #ccc;
}
.right-option ul.parent > li.radio > label input:checked ~ .checkmark,
.right-option ul.child > li.radio > label input:checked ~ .checkmark,
.right-option ul.child > li.checkbox > label input:checked ~ .checkboxmark {
    background-color: #fe7e41;
    border: 1px solid #fe7e41;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.right-option ul.parent > li.radio > label input:checked ~ .checkmark:after, 
.right-option ul.child > li.radio > label input:checked ~ .checkmark:after, 
.right-option ul.child > li.checkbox > label input:checked ~ .checkboxmark:after {
    display: block;
}
.info-filter{
	font-family: 'Poppins Light';
	color: #333;
	font-size: 13px;
	float: right;
	margin-right: 10px;
	margin-top: 3.5px;

}
.left-content{
	padding-left: 0px;
	padding-right: 0px;
	
}
.global.left-content{
	/*background: url('/assets/images/right_flower.png');*/
	/*background: url('/assets/images/left_flower.png');*/
	/*background-repeat: no-repeat;
	background-size: 87% auto;
	background-position: bottom right;*/
}
.blur-layer{
	padding-left: 45px;
	padding-right: 40px;
	/*min-height: 1535px;*/
    background: rgb(240, 240, 240); /* Fallback for older browsers without RGBA-support */
    background: rgba(240, 240, 240, 0.75);
	padding-top: 141px;
}
.bg-layer{
	/*background: url('/assets/images/left_flower.png');*/
	/*min-height: 1535px;*/
	background-repeat: no-repeat;
	background-size: 70% auto;
	background-position: 0% 2.5%;
}
.left-content .page-detail{
	padding-left: 15px;
	padding-right: 15px;
}
.left-content .page-detail .image-logo{
	text-align: center;
	width: 185px;
}
.left-content .page-detail .image-logo img{
	width: 161px;
	height: auto;
	margin-top: 35px;
}
.left-content .page-detail .col-sm-9.desc{
	width: 77%;
}
.left-content .page-detail p{
	font-size: 14px;
	text-align: justify;
	margin-top: 27px;
	margin-bottom: 24px;
}
.left-content .page-detail h3.page-title{
	font-family: 'Poppins Bold';
	font-size: 28px;
	text-align: justify;
	margin-bottom: 27px;
}
.left-content .page-detail hr{
	border-bottom: 2px solid #000;
}
.left-content .filter-render{
	padding-top: 24px;
}
.left-content .filter-render a:hover{
	text-decoration: none;
}
.left-content .thumbnail{
	border-radius: 0px;
	padding: 0px;
	color:#fff;
	background: white;
	border: 2px solid #fe7e41;
}
.left-content .thumbnail-detail{
	min-height: 70px;
	background: #fe7e41;
	padding: 3px 8px;
	
}
.left-content .thumbnail-detail p{
  	overflow: hidden;
	white-space: nowrap;
	font-size: 14px;
}
.left-content .thumbnail-detail p span.thumbnail-title{
	text-overflow: ellipsis;

}
.left-content .thumbnail-detail p.category{
	font-family: 'Poppins Light';
	font-size: 11px;
	margin-top: 10px;
}
.left-content .thumbnail img{
	width: 100%;
	height: auto;
	max-height: 250px;
}
.left-content .thumbnail .div-image{
	/*border: 2px solid #fe7e41;*/
	height: 250px;
	background: #fff;
	display: table;
	width:100%;
	max-height: 250px;
}
.left-content .thumbnail .span-image{
	display: table-cell;
	vertical-align: middle;
}
.pagination-box{
	text-align: center;
	margin-top: 50px;
}
.pagination>li>a, .pagination>li>span{
	border: none;
	background: transparent;
	padding: 6px 12px 6px 12px;
	min-width: 36px;
}
.pagination>li>a.pag-left, .pagination>li>span.pag-left{
	padding: 6px 14px 6px 10px;
}
.pagination>li>a.pag-right , .pagination>li>span.pag-right{
	padding: 6px 10px 6px 14px;
}
.pagination>li>a:focus, .pagination>li>span:focus,
.pagination>li>a:active, .pagination>li>span:active{
	background-color: #fe7e41;
	border-radius: 50%;
}
.pagination>li>a:hover, .pagination>li>span:hover{
	background-color: rgb(220, 220, 220);
	border-radius: 50%;
}
.pagination>li.active>a{
	background-color: #fe7e41;
	border-radius: 50%;
}
.menu-collapser{
	position: absolute;
	top: 110px;
	right: 0px;
	border: 1px solid rgba(220,220,220,0.7);
	border-right: none;
	border-radius: 5px 0px 0px 5px;
	width: 40px;
	height: 38px;
	z-index: 9;
	padding-top: 3px;
	padding-right: 15px;
	background: rgba(240,240,240,0.7);
	opacity: 0.5;
}
.menu-collapser:hover{
	opacity: 1;
}
.menu-collapser:active,.menu-collapser:focus{
	border: 1px solid rgba(220,220,220,0.7);
}
.container .jumbotron, .container-fluid .jumbotron{
	border-radius: 0px;
}
.jumbotron-tenant-detail{
	margin-top: 65px;
	min-height: 420px;
}
.jumbotron-hackathon{
	height: 565px;
	/*vertical-align: middle;*/
	/*top: 50%;*/
	margin-bottom: 60px;
}
.jumbotron-hackathon h3{
	font-family: 'Poppins Medium';
	font-size: 25px;
	margin-top: -75px;
}
.jumbotron-hackathon h3.safarihki{
	margin-top: 110px;
}
.jumbotron-profile{
	min-height: 420px;
	margin-top: 65px;
	background: url('/assets/images/profile/bg-header.png');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.jumbotron-sign{
	min-height: 420px;
	margin-top: 65px;
	background: url('/assets/images/login/BG_01.png');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.jumbotron-signup{
	min-height: 420px;
	margin-top: 65px;
	background: url('/assets/images/regis/BG_Header.png');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.container-fluid.full{
	padding-left: 0px;
	padding-right: 0px;
}
.detail-tenant .page-title{
	font-family: 'Poppins Bold';
	font-size: 28px;
	/*margin-top: 51px;*/
	/*margin-bottom: 80px;*/
}
.detail-tenant .page-title.aboutus-title{
	margin-top: 120px;
	margin-bottom: 120px;
}
.detail-tenant .page-title.what-title{
	margin-top: 25px;
	margin-bottom: 70px;
}
.detail-tenant .page-title.ourwork-title{
	margin-top: 25px;
	margin-bottom: 70px;
}
.detail-tenant .page-title.portfolio-title{
	/*margin-top: 25px;*/
	margin-bottom: 30px;
}
.detail-tenant .page-title.gallery-title{
	margin-top: 25px;
	margin-bottom: 50px;
}
.detail-tenant .page-title.findus-title{
	margin-top: 0px;
	margin-bottom: 50px;
}
.detail-tenant .page-title.followus-title{
	margin-top: 0px;
	margin-bottom: 50px;
}
.detail-tenant .desc-cool>div{
	margin-bottom: 39px;
}
.detail-tenant .desc-cool hr{
	border-bottom: 2px solid #000;
}
.detail-tenant .desc-cool img{
	width: 185px;
	height: 185px;
	margin-bottom: 10px;
}
.detail-tenant .desc-cool p{
	font-size: 14px;
	text-align: justify;
}
.detail-tenant .desc-cool h4{
	font-family: 'Poppins Bold';
	font-size: 28px;
}
.detail-tenant .tenant-what-list{
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}
.tenant-what{
	height: 271px;
	width: 271px;
	background: #fe7e41;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 10px;
}
.tenant-what p{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 26px;
	line-height: 36px;
}
.container.detail-tenant{
	width: 80%;
	padding-left: 0px;
	padding-right: 0px;
}
hr.dt{
	border-bottom: 2px solid #000;
	width: 80%;
}
.detail-tenant.work img{
	height: 137px;
	width: 90%;
	max-width: 137px;
	margin-bottom: 20px;
}
.detail-tenant.catalog img{
	height: 114px;
	width: 87px;

}
.detail-tenant.the-map .map{
	border: 5px solid #fe7e41;
	height: 530px !important;
}
.detail-tenant.social{
	text-align: center;
}
.detail-tenant.social .page-title{
	text-align: left;
}
.detail-tenant.social img{
	height: 66px;
	width: 66px;
	margin-right: 5px;
	margin-left: 5px;
}
.detail-tenant{
	margin-bottom: 80px;
}
.detail-tenant .gallery-box{
	background: #fe9f63;
	height: 337px;
	width: 337px;
}
.detail-tenant .gallery-box.even{
	background: #feaf75;
}
.my-account{
	font-family: 'Poppins Regular';
	font-size: 17px;
	color: black;
	padding: 80px 0px;
	/*width: 80%;*/
}
.my-account .btn{
	padding: 4px 20px;
	font-size: 15px;
}
.my-account .btn-back{
	background: url('/assets/images/profile/button_back.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 100px;
	height: 38px;
}
.my-account .setting ul{
	padding-left: 0px;
}
.my-account .btn-setting{
	text-align: right;
}
.my-account .btn-setting a{
	margin-left: 20px;
	z-index: 100;
}
.my-account .btn-setting a img{
	width: 55px;
	height: auto;
}
.my-account hr{
	border-bottom: 1.3px solid #000;
}
.my-account h2{
	font-size: 28px;
	color:#000;
	text-align: center;
}
.my-account h5{
	font-size: 15px;
}
.my-account .job-list .req-detail{
	font-family: 'Poppins Light';
	margin-top: 30px;
	border: 2px solid #000;
	padding: 40px;
	font-size: 15px;
}
.my-account .job-list .notes{
	font-family: 'Poppins Medium';
	font-size: 15px;
}
.my-account .requirement ul{
	padding-left: 0px;
}
.my-account .requirement li{
	list-style: none;
}
.my-account .requirement a{
	text-decoration: none;
	color: #fff;
}
.my-account .requirement hr{
	border-bottom: 1.3px solid #000;
}
.my-account .requirement li p.list-header{
	background: #fe7e41;
	padding: 10px 20px;
}
.my-account .setting{
	margin-top: 70px;
}
.my-account .setting>ul>li{
	list-style: none;
	margin-top: 30px;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
}
.my-account .setting>ul>li p{
	text-align: center;
	background: #fe7e41;
	padding: 5px 20px;
	margin-bottom: 0px;
}
.my-account .setting li p a{
	font-family: 'Poppins Medium';
	color: #fff;
	text-decoration: none;
}
.my-account .setting-form{
	padding: 20px 50px;
}
.my-account .setting-form .form-control{
	color: #000;
	border: 1px solid #000;
	border-radius: 0px;
}
.my-account .setting-form .right-label{
	text-align: right;
}
.my-account .setting-form label{
	font-family: 'Poppins Light';
	font-size: 16px;
	padding-top: 5px;
}
.my-account .setting-form .form-btn{
	margin-top: 30px;
}
.my-account .setting-form .btn.btn-save,
.my-account .setting-form .btn.btn-save:focus,
.my-account .setting-form .btn.btn-save:active:focus, 
.my-account .setting-form .btn.btn-save.active:focus { 
	background: #a0a0a0; 
	color:#fff;
	border-radius: 0px;
}
.my-account .setting-form .btn.btn-cancel,
.my-account .setting-form .btn.btn-cancel:focus,
.my-account .setting-form .btn.btn-cancel:active:focus, 
.my-account .setting-form .btn.btn-cancel.active:focus {
	background: #fff;
	border:1px solid #a0a0a0; 
	color: #000;
	margin-right: 20px;
	border-radius: 0px;
}
.right{
	text-align: right;
}
.container-fluid.prev-log{
	/*width: 80%;*/
}
.container-fluid.my-account{
	/*width: 80%;*/
}
.my-account .setting-form.contact{
	padding-left: 20px;
}
.my-account .setting .contact-exist{
	margin-top: 30px;
	padding: 10px 10px;
	text-align: center;
	vertical-align: middle;
	height: 180px;
}
.my-account .setting .contact-exist ol{
	padding-left: 0px;
	margin-bottom: 30px;
}
.my-account .setting .contact-exist ol li{
	list-style: none;
	margin-bottom: 5px;
}
.my-account .setting .contact-exist ol li label{
	min-width: 90px;
	border-radius: 0px;
	border: 1px solid #000;
	padding-top: 3px;
	padding-bottom: 1px;
}
.my-account .setting .contact-exist ol li input{
	padding-left: 4px;
	margin-left: 5px;
	border: 1px solid #000;
	width: 135px;
}
.my-account .setting .contact-exist h5{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: 'Poppins Light';
	font-size: 13px;
}
.my-account .setting .contact-form{
	margin-top: 30px;
	padding: 10px 20px;
	border-left: 1px solid #000;
}
.my-account .setting .contact-form h5{
	font-size: 10px;
	line-height: 10px;
}
.my-account .setting .contact-form .add-rem{
	margin-right: 5px;
}
.my-account .setting .contact .add-rem i{
	color: #a0a0a0;
}
.btn.btn-preview{
	border-radius: 0px;
	color: #fff;
}
.btn.btn-logout{
	border-radius: 0px;
	color: #fff;
}
.btn.btn-orange{
	background: #fe7e41;
}
.header-profile .pp{
	top: -30px;
	text-align: right;
	/*height: 200px;*/
}
.header-profile .pp a{
	/*width: 90%;*/
	/*background: #ccc;*/
	height: 100%;
}
.header-profile .pp img{
	height: 200px;
	width: auto;
	max-width: 300px;
}
.header-profile .detail{
	top: -55px;
	padding-left: 30px;
}
.header-profile .detail .greet{
	font-family: 'Poppins Semibold';
	color: #fe7e41;
	font-size: 23px;
}
.header-profile .detail .pro-name{
	font-family: 'Poppins Regular';
	font-size: 28px;
}
.header-profile .detail .contact{
	font-size: 15px;
}
.header-profile .detail a img{
	height: 45px;
	width: 45px;
}
.header-profile .detail a.link-plus img{
	height: 25px;
	width: 25px;
	margin-left: 20px;
}
.btn.btn-update{
	border-radius: 0px;
	color: #fff;
	padding: 8px 20px;
	font-size: 15px;
}
.update-form{
	margin-top: 50px;
}
.update-form h4{
	font-size: 17px;
	font-family: 'Poppins Regular';
}
.update-form textarea{
	min-height: 150px;
	border-radius: 0px;
	border: 1.3px solid #000;
	font-size: 13px;
}
.update-form .select2-container--default .select2-selection--multiple{
	border: none;
}
.update-form .select2-container--default.select2-container--focus .select2-selection--multiple{
	border: none;
}
.update-form .select2{
	border-radius: 0px;
	border: 1.3px solid #000;
}
.update-form .box-upload-logo{
	border: 1.3px solid #000;
	border-radius: 0px;
	min-height: 220px;
	padding: 20px;
}
.update-form .box-upload-logo label{
	font-size: 16px;
	font-weight: normal;
}
.update-form .box-upload-logo input{
	border-radius: 0px;
	border: 1px solid #000;
	width: 100%;
}
.my-account .job-list{
	margin-top: 50px;
}
.my-account .job-list .checkbox{
}
.my-account .job-list .checkbox-inline .nonactive{
	padding: 3px 0;
	border: 1px solid #000;
	background: #fff;
}
.my-account .job-list .checkbox-inline .active{
	background: #fe7e41;
	padding: 4px 0;
	color: #fff;
}
.my-account .job-list .checkbox-inline .checkboxmark{
	left: 5px;
}
.my-account .job-list .checkbox-inline input[type=checkbox]{
	display: none;
}
.my-account .job-list .checkbox-inline{
	text-align: center;
	margin-bottom: 8px;
}
.my-account .job-list h2{
	text-align: left;
}
.my-account .job-list label.checkbox-inline:hover input ~ .checkboxmark {
    background-color: #ccc;
}
.my-account .job-list label.checkbox-inline input:checked ~ .checkboxmark {
    background-color: #fe7e41;
    border: 1px solid #fe7e41;
}
.my-account .job-list .checkboxmark:after {
    content: "";
    position: absolute;
    display: none;
}
.my-account .job-list label.checkbox-inline input:checked ~ .checkboxmark:after {
    display: block;
}
.my-account .job-list .checkboxmark:after {
    left: 5px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
hr.hr-jobs{
	width: 100%;
	border-bottom: 2px solid #000; 
}
.tour-package .map{
	min-height: 710px !important;
	margin-top: 65px;
}
.tour-package .right-option{
	min-height: 645px !important;
	background: rgba(50,50,50,.6);
	z-index: 9;
	position: absolute;
	right: 0;
	margin-top: 65px;
	height: 645px;
	padding-top: 40px;
	min-width: 300px;
}
.tour-package .right-option .header-tour{
	margin-bottom: 20px;
}
.tour-package .right-option h3{
	font-family: 'Poppins Bold';
	width: 180px;
	color: #fff;
	font-weight: bold;
	/*text-align: center;*/
	margin-left: 20px;
}
.tour-package .right-option .header-tour h3 a{
	color: #fff;
	text-decoration: none;
}
.tour-package .right-option h3 .h31{
	font-size: 31px;
}
.tour-package .right-option h3 .h32{
	font-size: 32.5px;
}
.tour-package .right-option h3 .h33{
	font-size: 34px;
}
.tour-package .right-option .header-tour hr{
	border-bottom: 3px solid #fff;
	margin-top: 0px;
}
.tour-package .right-option ol{
	padding-left: 0px;
}
.tour-package .right-option ol a{
	text-decoration: none;
}
.tour-package .right-option ol li{
	list-style: none;
	color: #000;
	margin-bottom: 10px;
}
.tour-package .right-option ol li img{
	padding-left: 10px;
	padding-right: 10px;
}
.my-account.customer .my-req-title{
	font-family: 'Poppins Medium';
	text-align: left;
	color: #fe7e41;
}
.requirement .req-detail{
	font-family: 'Poppins Light';
	border: 2px solid #000;
	padding: 20px;
}
.requirement .req-detail label{
	font-weight: normal;
}
.my-account.customer .notes{
	font-family: 'Poppins Light';
}
.my-account.customer .welcome-user{
	font-family: 'Poppins Light';
}
.my-account.customer.new-job .new-job-title{
	font-family: 'Poppins Semibold';
	color: #fe7e41;
}
.my-account.customer.new-job p{
	font-family: 'Poppins Regular';
	text-align: left;
	font-size: 16px;
}
.new-job label{
	font-family: 'Poppins Semibold';
	color: #fe7e41;
}
.new-job label.radio-inline{
	font-family: 'Poppins Regular';
	color: #000;
}
.new-job .form-control{
	border: 1px solid #000;
}
.new-job .select2-container{
	width: 100% !important;
}
.new-job .select2-container--default .select2-selection--multiple,
.new-job .select2-container--default.select2-container--focus .select2-selection--multiple{
	border: 1px solid #000;
	border-radius: 0px;
}
.new-job .btn2{
	border-radius: 0px;
	color: #fff;
	padding: 7px 30px;
	margin-top: 30px;
}
.new-job .form-control{
	border-radius: 0px;
	/*margin-top: 8px;*/
	/*margin-bottom: 10px;*/
}
.new-job textarea.form-control{
	min-height: 100px;
}
.new-job .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	float: right;
	padding-left: 10px;
	font-size: 15px;
}
.new-job .select2-container--default .select2-selection--multiple .select2-selection__choice{
	background: #fe7e41;
	color: #fff;
	border-radius: 0px;
	font-size: 15px;
}
.my-account.customer.new-job .radio{
	margin-top: 10px;
}
.my-account.customer.new-job .radio label{
	color: #000;
	border-radius: 0px;
	border: 1px solid #000;
	padding: 4px 30px;
	width: 100%;
}
.my-account.customer.new-job .radio input[type=radio]{
	display: none;
}
.my-account.customer.new-job .radio > label:hover input ~ .checkmark{
    background-color: #ccc;
}
.my-account.customer.new-job .radio > label input:checked ~ .checkmark{
    background-color: #fe7e41;
    border: 1px solid #fe7e41;
}
.my-account.customer.new-job .radio > label input:checked ~ .checkmark:after{
    display: block;
}
.my-account.customer.appliance .tenant-list{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}
.my-account.customer.appliance h2{
	font-family: 'Poppins Semibold';
	color: #fe7e41;
}
.my-account.customer.appliance .tenant-list h4{
	font-family: 'Poppins Semibold';
	text-align: left;
	margin-bottom: 20px;
}
.my-account.customer.appliance .btn-large{
	font-family: 'Poppins Medium';
	padding: 20px 40px;
	border-radius: 0px;
	color: #fff;
	font-size: 15px;
	margin: 30px 0px;
}
.center{
	text-align: center;
}
.my-account .update-form.edit-gallery .btn-edit-gallery{
	width: 100%;
	padding: 5px;
	border-radius: 0px;
	color: #000;
	margin-bottom: 20px;
	border: 1px solid #000;
}
.my-account .update-form.edit-gallery .add-more span{
	font-size: 14px;
}
.my-account .update-form.edit-gallery .add-more a i{
	color: #777;
}
.project-work{
	margin-top: 100px;
	margin-bottom: 80px;
}
.project-work .home-red-list .option-icon img{
	width: 150px;
	height: auto;
	min-width: 150px;
}
.project-work .home-red-list .option-icon{
	min-height: 280px;
	text-align: center;
	vertical-align: middle;
	padding-top: 40px;
}
.project-work h3.page-title{
	font-size: 25px;
	font-family: 'Poppins Semibold';
	color: #fe7e41;
	margin-bottom: 40px;
}
.project-work h4{
	font-size: 21px;
	font-family: 'Poppins Regular';
	min-height: 60px;
	text-align: center;
}
.project-work p{
	font-size: 13px;
	font-family: 'Poppins Regular';
	text-align: justify;
}
.faq{
	margin-top: 100px;
	margin-bottom: 200px;
}
.faq .page-detail .page-title{
	font-family: 'Poppins Semibold';
	font-size: 28px;
	color: #fe7e41;
	text-align: center;
}
.faq .page-detail p{
	font-family: 'Poppins Regular';
	font-size: 14px;
	text-align: center;
}
.detail-hackathon .p-header{
	font-weight: bold;
}
.drop-faq{
	border: 1px solid #999;
	text-align: left;
	padding: 3px 10px;
	margin-top: 15px;
}
.drop-faq h4{
	font-family: 'Poppins Regular';
	font-weight: bold;
	float: left;
	color: #222;
	font-size: 16px;
}
.drop-faq span{
	float: right;
	padding: 5px 0px 5px 10px;
}
.drop-faq span a{
	text-decoration: none;
	color: #013759;
	padding: 5px;
	font-size: 16px;
}
.drop-faq p{
	font-family: 'Poppins Regular';
	font-size: 14px;
}
.detail-faq{
	clear: both;
	text-align: left;
	padding: 5px 20px;
	color: #111;
}
.loading{
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(240,240,240,0.7);
	display: none;
}
.loading img{
	width: 400px;
	height: auto;
	/*top: 100%;*/
	transform: translateY(80%);
}
.login-form{
	font-family: 'Poppins Regular';
	color: #000;
	padding: 30px 50px  40px 50px;
	margin-bottom: 40px;
}
.login-form .form-group{
	margin-bottom: 20px;
}
.login-form h3{
	font-family: 'Poppins Semibold';
	font-size: 26px;
	color: #fe7e41;
}
.login-form p{
	font-size: 13px;
	text-align: justify;
}
.login-form > div.form-group > label{
	float:left;
}
.login-form .form-group.social{
}
.login-form a{
	text-decoration: none;
	color: #000;
}
.divider {
	width:100%;
	text-align:center;
	font-size: 13px;
	padding: 0px 30px;
}
.divider hr {
	margin-left:auto;
	margin-right:auto;
	width:40%;
	border-bottom: 1px solid #000;
	margin-top: 8px;
}
.login-form input[type=text],.login-form input[type=password],.login-form input[type=email]{
	border-radius: 0px;
	border: 1px solid #000;
	height: 34px;
	font-size: 13px;
}
.login-form .btn{
	border-radius: 0px;
	color: #fff;
	padding: 7px 30px;
	margin-top: 30px;
	font-size: 18px;
	width: 295px;
}
.login-form-box{
	border: 1px solid #000;
	padding: 0px 0px;
	/*width: 94%;*/
}
.login-page{
	margin-top: 100px;
	width: 90%;
	/*padding: 0px 50px;*/
}
.login-form-box h3{
	font-size: 20px;
	font-family: 'Poppins Medium';
	width: 100%;
	background: #fe7e41;
	margin-top: 0px;
	padding: 10px 30px;
	color: #fff;
}
.login-form-box .form-group{
	padding: 0px 30px;
}
.login-form label{
	font-family: 'Poppins Regular';
	font-size: 13px;
	font-weight: normal;
}
.login-form a{
	font-size: 13px;
}
.login-form-box .btn{
	width: 130px;
}
.login-form-box .social-item{
	margin-top: 10px;
	text-align: center;
}
.login-form-box .social img{
	height: 38px;
	width: auto;
}
.login-form .regis-item{
	text-align: center;
}
.regis-page{
	margin-top: 100px;
	width: 90%;
	/*padding: 0px 50px;*/
}
.regis-form{
	font-family: 'Poppins Regular';
	color: #000;
	padding: 30px 50px  40px 50px;
	margin-bottom: 40px;
}
.regis-form-box{
	border: 1px solid #000;
	padding: 0px 0px;
	background: #fff;
	/*width: 94%;*/
}
.regis-form-box h3{
	font-size: 20px;
	font-family: 'Poppins Medium';
	width: 100%;
	background: #fe7e41;
	margin-top: 0px;
	padding: 10px 30px;
	color: #fff;
}
.regis-form-box .form-group{
	padding: 0px 30px;
}
.regis-form-box p{
	font-size: 13px;
	padding: 0px 30px;
}
.regis-form .btn{
	border-radius: 0px;
	color: #fff;
	padding: 7px 30px;
	font-size: 18px;
	min-width: 130px;
}
.regis-form label{
	font-family: 'Poppins Light';
	font-size: 13px;
	font-weight: normal;
}
.regis-form input[type=text],.regis-form input[type=password],.regis-form input[type=email]{
	border-radius: 0px;
	border: 1px solid #000;
	height: 34px;
	font-size: 13px;
}
.regis-form a{
	font-size: 13px;
}
.regis-form-box2{
	padding: 30px 50px;
}
.regis-form label.checkbox-inline,.regis-form label.checkbox{
	margin-right: 20px;
}
.regis-form label.checkbox-inline input[type=checkbox],.regis-form label.checkbox input[type=checkbox]{
	display: none;
}
.regis-form .checkboxmark {
    position: absolute;
    top: 0px;
    right: 0px;
    left: -10px;
    height: 18px;
    width: 18px;
    border-radius: 0px;
    background-color: #fff;
    border: 1px solid #000;
}
.regis-form label.checkbox-inline:hover input ~ .checkboxmark {
    background-color: #ccc;
}
.regis-form label.checkbox-inline input:checked ~ .checkboxmark {
    background-color: #fe7e41;
    border: 1px solid #fe7e41;
}
.regis-form .checkboxmark:after {
    content: "";
    position: absolute;
    display: none;
}
.regis-form label.checkbox-inline input:checked ~ .checkboxmark:after {
    display: block;
}
.regis-form .checkboxmark:after {
    left: 5px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.regis-submit{
	padding-top: 50px !important;
}
.register-tenant{
	width: 60%;
	margin-top: 130px;
	color: #000;
}
.register-tenant .regis-form-box .form-group{
	padding: 0px 0px;
	margin-bottom: 10px;
}
.register-tenant .page-detail .page-title{
	font-family: 'Poppins Bold';
	font-size: 28px;
	color: #fe7e41;

}
.register-tenant .page-detail p{
	font-family: 'Poppins Light';
	font-size: 13px;
	margin-top: 30px;

}
.register-tenant h4{
	font-size: 17px;
	font-family: 'Poppins Medium';
	width: 100%;
	background: #fe7e41;
	margin-top: 0px;
	padding: 5px 30px;
	color: #fff;
	text-align: center;
	font-weight: normal;
}
.register-tenant label{
	font-family: 'Poppins Regular';
	font-size: 15px;
	color: #000;
	/*font-weight: bold;*/
}
.register-tenant .map{
	height: 300px !important;
}
.register-tenant .regis-form-box{
	background: rgb(240,240,240);
	margin-bottom: 20px;
}
.register-tenant .regis-form-box2{
	display: none;
}
.register-tenant .regis-form-box2.active{
	display: block;
	padding-bottom: 20px;
}
.add-more{
	margin-top: 10px;
	margin-bottom: 10px;
}
.add-more span{
	font-size: 15px;
	line-height: 20px;
}
.add-more .fa-2x{
	font-size: 35px;
}
.add-more a{
	color: #888;
	margin-left: 10px;
}
.register-tenant label.radio-inline,.register-tenant label.radio,
.register-tenant label.checkbox-inline,.register-tenant label.checkbox{
	border: 1px solid #000;
	padding: 5px 20px 5px 50px;
	margin-left: 10px;
	margin-right: 10px;
	background: #fff;
	margin-top: 5px;
	/*margin-bottom: 5px;*/
}
.register-tenant label.radio-inline input[type=radio],.register-tenant label.radio input[type=radio],
.register-tenant label.checkbox-inline input[type=checkbox],.register-tenant label.checkbox input[type=checkbox]{
	display: none;
}
.register-tenant .checkmark {
    position: absolute;
    top: 5px;
    right: 0px;
    left: 15px;
    height: 20px;
    width: 20px;
    border: 1.4px solid #000;
}
.register-tenant label.radio-inline:hover input ~ .checkmark {
    background-color: #ccc;
}
.register-tenant label.radio-inline input:checked ~ .checkmark {
    background-color: #fe7e41;
    border: 1px solid #fe7e41;
}
.register-tenant .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.register-tenant label.radio-inline input:checked ~ .checkmark:after {
    display: block;
}
.register-tenant .checkboxmark {
    position: absolute;
    top: 5px;
    right: 0px;
    left: 15px;
    height: 20px;
    width: 20px;
    border: 1.4px solid #000;
}
.register-tenant label.checkbox-inline:hover input ~ .checkboxmark {
    background-color: #ccc;
}
.register-tenant label.checkbox-inline input:checked ~ .checkboxmark {
    background-color: #fe7e41;
    border: 1px solid #fe7e41;
}
.register-tenant .checkboxmark:after {
    content: "";
    position: absolute;
    display: none;
}
.register-tenant label.checkbox-inline input:checked ~ .checkboxmark:after {
    display: block;
}
.justify{
	text-align: justify;
}
.required{
	font-weight: bold;
	font-size: 13px;
}
.register-tenant-form{
	margin-top: 40px;
}
.register-tenant .select2-container--default .select2-selection--multiple,
.register-tenant .select2-container--default .select2-selection--single{
	border: none;
	min-height: 30px;
}
.register-tenant .select2-container--default.select2-container--focus .select2-selection--multiple,
.register-tenant .select2-container .select2-container--default .select2-container--above select2-container--focus{
	border: none;
	min-height: 30px;
}
.register-tenant .select2{
	border-radius: 0px;
	border: 1.3px solid #000;
	font-size: 13px;
}
.register-tenant .select2-container--default .select2-selection--multiple .select2-selection__choice{
	background: #fe7e41;
	color: #fff;
	border: 1px solid #fe7e41;
	border-radius: 2px;
	padding: 2px 4px 1px 5px;
}
.register-tenant .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	color: #fff;
	float: right;
	margin-left: 4px;
	padding-top: 1px;
	font-weight: bold;
}
.register-tenant .select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 30px;
}
.register-tenant input[type=submit],.register-tenant button[type=button]{
	border-radius: 0px;
	color: #fff;
	padding: 7px 30px;
	font-size: 18px;
	width: 130px;
}
.register-tenant-sbm{
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 60px;
}
.tenant-found{
	font-family: 'Poppins Semibold';
	font-size: 14px;
	font-style: italic;
	color: #fff;
}
.register-tenant .input-group,
.new-job .input-group{
	margin-bottom: 10px;
}
.register-tenant .input-group-addon,
.new-job .input-group-addon{
	border-radius: 0px;
    background: #fff;
    min-width: 60px;
    border-color: #000;
}
.event-detail{
	padding-top: 30px;
	border-bottom: 2px solid #eee;
	padding-bottom: 30px;
	text-align:justify;
	width: 75% !important;
}
.event-detail .header-image .carousel{
	margin-top: 100px;

}
.event-detail .header-image .carousel .item{
	height: 250px;
}
.event-detail .header-image img.thi{
	margin-top: 130px;
	width:100%;
	/*height: 100%;*/

}
.event-detail .header-image .carousel img{
	/*padding-top: 100px;*/
	/*width:100%;*/
	height: 100%;
	margin-right: auto;
	margin-left: auto;

}
.carousel-control.right{
	background-image: none;
}
.carousel-control.left{
	background-image: none;
}
.event-detail h3{
	font-family: 'Poppins Semibold';
	color: #000;
	margin-top: 160px;
	font-size: 34px;
	line-height: 43px;
	padding-left: 30px;
	text-align: left;
}
.event-detail .event-opsi{
	font-family: 'Poppins Regular';
	border-left: 3px solid #eee;
	margin-top: 30px;
	text-align: center;
	color: #000;
	font-size: 20px;
	padding-top: 30px;
}
.event-detail .event-opsi a{
	margin-bottom:60px;
}
.event-detail .event-opsi .btn{
	border-radius: 0px;
	color: #fff;
	padding: 7px 40px;
	font-size: 20px;
}
.event-detail .event-opsi p img{
	width: 40px;
	height: auto;
	margin-bottom: 20px;
}
.event-detail .event-opsi p{
	margin-bottom: 70px;
}
.event-detail .event-opsi p span.span1{
	font-size: 17px;
	line-height: 25px;
}
.event-detail .event-opsi p span.span2{
	font-size: 18px;
	line-height: 20px;
}
.event-detail .event-description{
	margin-top: 30px;
	font-size: 15px;
	font-family: 'Poppins Light';
	color: #000;
	padding-top: 10px;
	padding-right: 50px;
}
.event-detail .event-description h1{
	font-size: 28px;
}
.event-detail .event-description h2{
	font-size: 26px;
}
.event-detail .event-description h3{
	font-size: 24px;
}
.event-detail .event-description h4{
	font-size: 21px;
	font-weight: bold;
}
.event-detail .event-description h5{
	font-size: 18px;
}
.event-detail .event-description p{
	font-size: 15px;
}
.event-detail .event-description li{
	font-size: 15px;
}
.event-detail .event-description a{
	font-family: 'Poppins Light';
	font-size: 15px;
	text-decoration: none;
	color: #126a6a;
}
.event-tags h4{
	font-family: 'Poppins Semibold';
	color: #fe7e41;
	font-size: 26px;
}
.event-tags{
	text-align: justify;
	padding-bottom: 100px;
}
.event-tags p span.badge-tags{
	font-family: 'Poppins Light';
	margin: 10px 10px;
	border-radius: 0px;
	background-color: #fe7e41;
	color: #fff;
	padding:5px 15px;
	font-size: 15px;
}
.news-detail{
	font-family: 'Poppins Regular';
	margin-top: 170px;
	margin-bottom: 120px;
	text-align:justify;
	width: 60% !important;
}
.news-detail hr{
	border-bottom: 3px solid #999;
}
.news-detail .header-image img{
	width:100%;
	height: 300px;
}
.news-detail h3{
	font-family: 'Poppins Semibold';
	color: #000;
	padding-top: 78px;
	font-size: 48px;
	text-align: left;
}
.news-detail .list-news-side{
	border-left: 3px solid #eee;
	margin-top: 50px;
	color: #000;
	font-size: 15px;
	list-style: none;
}
.news-detail .list-news-side li{
	margin-bottom: 30px;
}
.news-detail .list-news-side a{
	text-decoration: none;
	font-size: 15px;
	margin-bottom:60px;
	color: #000;
	font-family: 'Poppins Semibold';
}
.news-detail .list-news-side a img{
	width: 100%;
	height: auto;
}
.news-detail .list-news-side a p{
	margin-top: 8px;
}
.news-detail .list-news-side a.see-more{
	color: #126a6a;
	font-family: 'Poppins Regular';
}
.news-detail .news-description{
	margin-top: 50px;
	padding-right: 10px;
	color: #000;
}
.news-detail .news-description h1{
	font-size: 28px;
}
.news-detail .news-description h2{
	font-size: 26px;
}
.news-detail .news-description h3{
	font-size: 24px;
}
.news-detail .news-description h4{
	font-size: 21px;
}
.news-detail .news-description h5{
	font-size: 18px;
}
.news-detail .news-description p{
	font-size: 15px;
}
.news-detail .news-description li{
	font-size: 15px;
}
.news-detail .news-description a{
	font-size: 15px;
	text-decoration: none;
	color: #126a6a;
}
.btn-new-job{
	color: #fff;
	border-radius: 2px;
}
.text-orange{
	color: #fe7e41;
}
.modal-new-job label{
	font-size: 16px;
	font-weight: normal;

}
.modal-new-job .modal-content{
	border-radius: 2px;
}
.modal-new-job .modal-header{
	background: #fe7e41;
	color: #efefef;
	font-family: 'Poppins Semibold';
}
.modal-new-job .modal-header .close{
	margin-top: 5px;
	margin-right: 10px;
}
.my-account.tenant label{
	font-size: 16px;
	font-weight: normal;

}
.my-account.tenant .modal-content{
	border-radius: 2px;
}
.my-account.tenant .modal-header .close{
	margin-top: 5px;
	margin-right: 10px;
}
.my-account.tenant .modal-title{
	font-family: 'Poppins Semibold';
	color: #fe7e41;
}
.my-account.tenant p,.my-account.tenant ul,.my-account.tenant ol{
	font-family: 'Poppins Regular';
	text-align: left;
	font-size: 16px;
}
.my-account.tenant label{
	font-family: 'Poppins Regular';
	color: #000;
	font-weight: normal;
}
.my-account.tenant label.radio-inline{
	font-family: 'Poppins Regular';
	color: #000;
}
.my-account.tenant .form-control{
	border: 1px solid #000;
}
.my-account.tenant .select2-container{
	width: 100% !important;
}
.my-account.tenant .select2-container--default .select2-selection--multiple,
.my-account.tenant .select2-container--default.select2-container--focus .select2-selection--multiple{
	border: 1px solid #000;
	border-radius: 0px;
}
.my-account a{
	text-decoration: none;
}
.my-account.tenant .btn{
	border-radius: 0px;
	padding: 7px 30px;
	/*margin-top: 30px;*/
}
.my-account.tenant .btn-orange{
	color: #fff;
}
.my-account.tenant .form-control{
	border-radius: 0px;
	margin-top: 8px;
	margin-bottom: 10px;
}
.my-account.tenant textarea.form-control{
	min-height: 100px;
}
.my-account.tenant .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	float: right;
	padding-left: 10px;
	font-size: 15px;
}
.my-account.tenant .select2-container--default .select2-selection--multiple .select2-selection__choice{
	background: #fe7e41;
	color: #fff;
	border-radius: 0px;
	font-size: 15px;
}
.my-account.tenant .radio{
	margin-top: 10px;
}
.my-account.tenant .radio label{
	color: #000;
	border-radius: 0px;
	border: 1px solid #000;
	padding: 4px 30px;
	width: 100%;
}
.my-account.tenant .radio input[type=radio]{
	display: none;
}
.my-account.tenant .radio > label:hover input ~ .checkmark{
    background-color: #ccc;
}
.my-account.tenant .radio > label input:checked ~ .checkmark{
    background-color: #fe7e41;
    border: 1px solid #fe7e41;
}
.my-account.tenant .radio > label input:checked ~ .checkmark:after{
    display: block;
}
.btn-grey{
	background: darkgrey;
	color: #fff;
}
.my-account.tenant{
	padding: 0px 0;
}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label{
	font-size: 13px;
	text-align: right;
	font-family: 'Poppins Light';
	color: red;
}
.help-block{
	font-size: 13px;
	text-align: right;
	font-family: 'Poppins Light';
	color: red;
}
.has-error .form-control{
	border-color: #a94442 !important;
}
.detail-hackathon1{
	padding-top: 50px;
	padding-bottom: 50px;
}
.detail-hackathon{
	margin-bottom: 80px;
}
.detail-hackathon .page-detail2 p{
	font-size: 17px;
}
.detail-hackathon .page-detail2{
	text-align: center;
	font-family: 'Poppins Medium';
	margin-bottom: 60px;
	margin-top: 30px;
}
.detail-hackathon .desc-cool-list>div{
	border-bottom: 1px solid #000;
}
.detail-hackathon .desc-cool-list>div>div{
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 5px;
}
.detail-hackathon .desc-cool>div{
	margin-bottom: 39px;
	padding-left: 40px;
	padding-right: 30px;
}
.detail-hackathon .desc-cool hr{
	border-bottom: 1px solid #000;
}
.detail-hackathon .desc-cool td{
	font-size: 16px;
	font-family: 'Poppins Regular';
}
.detail-hackathon .work-image{
	text-align: center;
	font-family: 'Poppins Medium';
	font-family: 17px;
}
.detail-hackathon .work-image img{
	width: 195px;
	height: auto;
	margin-bottom: 30px;

}
.detail-hackathon .div-image{
	background: #fff;
	display: table;
	width:100%;
	height: 100%;
}
.detail-hackathon .span-image{
	display: table-cell;
	vertical-align: middle;
}
.detail-hackathon .desc-cool p{
	font-size: 13px;
	text-align: justify;
}
.detail-hackathon .desc-cool h4{
	font-family: 'Poppins Semibold';
	font-size: 20px;
	color: #fe7e41;
}
.detail-hackathon .tenant-what-list{
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}
.container.detail-hackathon{
	width: 80%;
	padding-left: 0px;
	padding-right: 0px;
}
.detail-hackathon .box-list{
	border: 1px solid #fe7e41;
	margin-bottom: 50px;
	padding: 20px 30px;
	min-height: 270px;
}
.detail-hackathon .box-list h4{
	color: #fe7e41;
	text-align: center;
	font-size: 18px;
	font-family: 'Poppins Semibold';
	margin-bottom: 30px;
}

.detail-safarihki .box-list {
	min-height: 220px;
}

.detail-safarihki .box-list.long-content {
	min-height: 380px;
}

.detail-safarihki .box-list h4 {
	font-size: 16px;
}

.detail-hackathon .box-list p, .detail-hackathon .box-list ul li{
	text-align: justify;
	font-family: 'Poppins Regular';
	font-size: 13px;
}
.detail-hackathon .box .reg{
	padding: 10px 20px;
}
.detail-hackathon .reg .btn-square{
	border-radius: 0px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Poppins Semibold';
	padding: 7px 50px;
}
.detail-hackathon .reg .btn-circle{
	border-radius: 50%;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Poppins Semibold';
	padding: 37px 12px;
	height: 104px;
	width: 104px;
}
.btn.btn-white-orange{
	border: 1.6px solid #fe7e41;
	background: white;
	color: #fe7e41 !important;
}
.detail-hackathon .box .reg img{
	width: 100px;
	height: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}
.detail-hackathon .box .reg p{
	font-family: 'Poppins Medium';
	font-family: 17px;
}
.partner-hackathon img.logo{
	margin-bottom: 60px;
}
.partner-hackathon img.logo1{
	width: 170px;
	height: auto;
}
.partner-hackathon img.logo2{
	height: 150px;
	width: auto;
}
.partner-hackathon img.logo3{
	height: 200px;
	width: auto;
}
.partner-hackathon img.partner{
	height: 420px;
	width: auto;
}
.partner-hackathon p{
	color: #fe7e41;
	font-family: 'Poppins Semibold';
	margin-bottom: 20px;
	font-size: 18px;
}
.register-hackathon .form-group{
	margin-bottom: 20px;
}
.register-hackathon h4{
	text-align: center;
	color: #fe7e41;
	font-family: 'Poppins Semibold';
	font-size: 18px;
	margin-bottom: 50px;
}
.register-hackathon label{
	font-family: 'Poppins Medium';
	font-size: 16px;
	font-weight: normal;
}
.register-hackathon .btn{
	border-radius: 0px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Poppins Medium';
	padding: 7px 30px;
	margin-top: 30px;
}
.register-hackathon .form-group2{
	padding-left: 15px;
	padding-right: 15px;
}
.register-hackathon input[type=file],.register-hackathon input[type=text],.register-hackathon input[type=email],.register-hackathon textarea,
.register-hackathon .select2-container--default .select2-selection--multiple{
	border-radius: 0px;
	font-size: 14px;
	font-family: 'Poppins Regular';
	border: 1px solid #000;
	margin-top: 8px;
}
.thank-hackathon h4{
	text-align: center;
	color: #fe7e41;
	font-family: 'Poppins Semibold';
	font-size: 18px;
	margin-bottom: 50px;
}
.thank-hackathon .thank-box{
	background: #757575;
	width:100%;
	height:100%;
	padding: 35px 50px;
}
.thank-hackathon .thank-box p{
	color: #fff;
	font-family: 'Poppins Medium';
	font-size: 16px;
	text-align: center;
}
.select3-m1{
	font-size:small;
	text-align: right;
	font-style:italic;
	color:#333;
}
.edu-regis-tenant input[type=text]{
	padding-left: 15px;
	padding-right: 15px;
}
.tenant-detail-logo{
	height: 220px;
	width: auto;
	margin-top: 40px;
}
.tenant-detail-name{
	font-family: 'Poppins-SemiBold';
	font-size: 42px;
}
.update-form .portfolio-box{
	border: 1.3px solid #000;
	border-radius: 0px;
	min-height: 220px;
	padding: 20px;
}
.update-form .portfolio-box label{
	font-size: 16px;
	font-weight: normal;
}
.update-form .portfolio-box input{
	border-radius: 0px;
	border: 1px solid #000;
	width: 100%;
}
.portfolio-img{
	height:80px;
	width:auto;
}
.detail-finalis{
	width: 90% !important;
	padding-left: 0px;
	padding-right: 0px;
}
.amazingslider-box-1 {
	margin-left: 0 !important;
}
.amazingslider-arrow-left-1 {
	left: 4px !important;
}
.amazingslider-arrow-right-1 {
	right: 4px !important;
}
.detail-hackathon {
	margin-bottom: 0;
}
