#map {
	height: 500px;
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
}
.googft-info-window{
	font-family: 'ROBOTO Regular';
	font-size: 24px;
	/*background: */
	/*font-color: purple;*/
	min-height: 50px;
	padding: 20px;
	border-radius: 10px;
}
.iw-bottom-gradient {
      position: absolute;
      width: 326px;
      height: 25px;
      bottom: 10px;
      right: 16px;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
   }
.gm-style .gm-style-iw{
	margin: 2px 5px;
}
.gm-style-iw .content{
	/*text-align: center;*/
	font-family: 'Poppins Light';
}
.gm-style-iw .content > div{
	padding-left: 0px;
	padding-right: 0px;
	overflow-y: hidden;
}	
.gm-style-iw .content h5{
	font-family: 'Poppins Regular';
	font-size: 14px;
	line-height: 16px;
	padding-left: 0px;
	margin-left: 10px;
}
.gm-style-iw .content p{
	font-size: 12px;
}
.gm-style-iw .content .link-detail{
	text-align: center;
}
.gm-style-iw .content .btn-map{
	background: #fe7e41;
	border-radius: 0px;
	color: #fff;
	font-size: 12px;
}
/*.gm-style > div > div > div > div > div > div > div{
	width:100%;
   	border-radius: 10px !important;
}*/
.modal.modal-marker{
	padding-left: 0px;
	padding-right: 0px !important;
	position: absolute;
	overflow: hidden;
	z-index: 10;
	margin-top: 30px;
}
.modal.modal-marker .modal-dialog{
	height:710px;
	width: 100%;
	z-index: 10;
	top: 35px;
	left: 0;
	margin: 0;

}
.modal.modal-marker .modal-dialog .modal-content .modal-header{
	border-bottom: none;
	padding: 25px 0px;

}
.modal.modal-marker .modal-dialog .modal-content .modal-header .modal-title{
	font-family: 'Poppins Semibold';
	font-size: 20px;
	width: 450px;
	background: #fe7e41;
	padding: 5px 0px 5px 30px;
}
.modal.modal-marker .modal-dialog .modal-content{
	background: rgba(50,50,50,.9);
	border-radius: 0px;
	height:100%;
	color: #fff;
	
}
.modal.modal-marker .modal-dialog .modal-content .close{
	font-size: 35px;
	opacity: 1 !important;
	color: #fff;
	line-height: 40px;
	padding: 0px;
	margin-right: 20px;
}
.modal.modal-marker .modal-dialog .modal-content .close:hover{
	color: #fe7e41;
}
.modal-backdrop{
    opacity:0 !important;
    padding-left: 0px;
	padding-right: 0px;
	z-index: 7;
}
.modal.modal-marker .modal-dialog .modal-content .modal-body{
	padding: 30px;
	width: 80%;
}
.modal.modal-marker .modal-dialog .modal-content .modal-body h4{
	font-family: 'Poppins Medium';
	font-size: 21px;
}
.modal.modal-marker .modal-dialog .modal-content .modal-body hr{
	width: 410px;
	border-bottom: 2px solid #fff;
	margin-left: 0px;
}
.modal.modal-marker .modal-dialog .modal-content .modal-body h4 img{
	width: 30px;
	height: 40px;
	margin-right: 10px;
}
.modal.modal-marker .modal-dialog .modal-content .modal-body p{
	font-family: 'Poppins Light';
	font-size: 14px;
	text-align: justify;
}
.modal.modal-marker .modal-dialog .modal-content .modal-body td{
	font-family: 'Poppins Regular';
	font-size: 14px;
	text-align: justify;
	padding-right: 10px;
	padding-bottom: 5px;
}
body.modal-open{
	overflow: scroll;
	padding-right: 0px !important;
}
.marker-logo{
	width: 70px;
	height: auto;
	max-height: 100px;
	padding: 5px;
	padding-right: 0px;
	margin-right: 0px;
	/*margin-bottom: 20px;*/
}
.marker-image-box{
	width: 100%;
	text-align: center;
}
.marker-detail-image{
	width: 195px;
	height: auto;
	max-height: 200px;
	margin: 20px 5px 0 5px;
}
@media (min-width:1440px) {
	.gm-style-iw .content h1{
		font-size: 25px;
	}
	.gm-style-iw .content p{
		font-size: 18px;
	}
	.gm-style-iw .content .btn-map{
		font-size: 18px;
	}
	.modal.modal-marker .modal-dialog{
		height:1270px;
		top: 55px;

	}
	.modal.modal-marker .modal-dialog .modal-content .modal-header{
		padding: 60px 0px;

	}
	.modal.modal-marker .modal-dialog .modal-content .modal-header .modal-title{
		font-size: 35px;
		width: 650px;
		padding: 5px 0px 5px 40px;
	}
	.modal.modal-marker .modal-dialog .modal-content .modal-body hr{
		width: 600px;
		border-bottom: 3px solid #fff;
	}
	.modal.modal-marker .modal-dialog .modal-content .close{
		font-size: 60px;
		line-height: 65px;
		margin-right: 40px;
	}
	.modal.modal-marker .modal-dialog .modal-content .modal-body{
		padding: 40px;
		width: 650px;
	}
	.modal.modal-marker .modal-dialog .modal-content .modal-body h4{
		font-size: 30px;
	}
	.modal.modal-marker .modal-dialog .modal-content .modal-body h4 img{
		width: 50px;
		height: 50px;
	}
	.modal.modal-marker .modal-dialog .modal-content .modal-body p{
		font-size: 20px;
	}
	.modal.modal-marker .modal-dialog .modal-content .modal-body td{
		font-size: 20px;
		padding-right: 20px;
		padding-bottom: 10px;
	}
	.marker-detail-image{
		width: 260px;
		max-height: 240px;
	}
}
@media (min-width: 768px) and (max-width: 807px){
	.modal.modal-marker .modal-dialog{
		top: 115px;
	}
	.modal.modal-marker{
		margin-top: 0px;
	}
}
@media (min-width: 808px) and (max-width: 839px){
	.modal.modal-marker .modal-dialog{
		top: 85px;
	}
}
@media (min-width: 768px) and (max-width: 768px){
	.modal.modal-marker{
		width: 468px;
	}
}