body.ntp2 .alert{
	margin-top: 70px;

}
@media(min-width: 768px) and (max-width: 798px){
	body.ntp2 .alert{
		margin-top: 125px;
	}
}
.alert{
	font-family: 'Poppins Light';
	position: fixed;
	z-index: 9999;
	right: 0;
	margin-right: 20px;
	opacity: .73;
	font-size: 16px;
	line-height:16px;
	color: #000;
	border: 0px;
	border-left: 2px solid #fe7e41;
	padding: 10px 10px 10px 50px;
}
body.ntp .alert{
	margin-top: 70px;
}
button.close{
}
.close{
	font-size: 16px;
	line-height: 16px;
	margin-left: 20px;
}
.fa.fa-check-circle{
	color: green;
	font-size: 25px;
	position: absolute;
	left: 1px;
	top: 5px;
}
.fa.fa-exclamation-circle{
	color: red;
	font-size: 25px;
	position: absolute;
	left: 1px;
	top: 5px;
}
.alert .fa{
	margin-right: 20px;
	margin-left: 10px;
}
.alert-danger{
	background: #FFF9B7;
}
@media (min-width:1440px) {
	.alert{
		margin-top: 95px;
		margin-right: 30px;
		opacity: .83;
		font-size: 20px;
		line-height:20px;
		padding: 20px 20px 20px 100px;
	}
	button.close{
	}
	.close{
		font-size: 20px;
		line-height: 20px;
		margin-left: 25px;
	}
	.fa.fa-check-circle{
		font-size: 45px;
		left: 5px;
		top: 5px;
	}
	.fa.fa-exclamation-circle{
		font-size: 45px;
		left: 5px;
		top: 5px;
	}
	.alert .fa{
		margin-right: 20px;
		margin-left: 10px;
	}
}