.container-fluid2 {
    padding-left: 75px !important;
    padding-right: 75px !important;
    margin-top: 25px;
}

.container-fluid2 p{
    font-size: 16px !important;
}

.page-box {
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.4);
    padding: 25px;
    margin-bottom: 30px;
}

.page-box.business-logo {
    text-align: center;
}

.page-box h2, .content h2 {
    color: #5bb5c9;
    margin-top: 0;
    font-size: 20px;
}

.btn {
    border-radius: 0 !important;
    font-size: 16px !important;
    padding: 7px 35px !important;
}

.btn.btn-primary {
    background-color: #5bb5c9 !important;
    border-color: #5bb5c9 !important;
    color: #FFFFFF !important;
}

.btn.btn-primary:hover {
    background-color: #FFFFFF !important;
    color: #5bb5c9 !important;
}

form {
    margin-top: 25px;
}

form .left {
    float: left;
    width: 140px;
}

form .right {
    margin-left: 140px;
}

form .right input[type="text"], form .right input[type="password"], form .right input[type="email"], form .right textarea {
    width: 100%;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #CCCCCC;
    padding: 7px 13px;
    font-size: 16px !important;
    margin-bottom: 10px !important;
}

textarea {
    height: 250px;
}

label {
    font-size: 16px;
    font-weight: 100 !important;
    line-height: 44px;
    margin-bottom: 0 !important;
}

.block-link {
    display: block;
    margin-bottom: 10px;
    line-height: 20px;
}

.error-box {
    margin-top: 15px;
}

.error-box .error {
    color: #bf1515;
    font-size: 16px;
    line-height: 20px;
}

.table-row {
    border-bottom: 1px solid #e1e1e1;
}

.table-cell {
    float: left;
    width: 33.33%;
    font-size: 16px;
    line-height: 50px;
}

.table-cell.ind .fa {
    font-size: 26px !important;
}

.table-cell.text-center {
    color: #5bb5c9;
    font-weight: 600;
}

.table-cell.dark {
    background-color: #ebebeb;
}

.comparison-table {
    margin-top: 50px;
    margin-bottom: 75px;
}

.inner-col-left {
    float: left;
    width: 50%;
    padding-right: 30px;
}

.inner-col-right {
    float: right;
    width: 50%;
    padding-left: 30px;
}

.filter-box-content .filter {
    padding-left: 30px;
    font-size: 14px;
    border-bottom: 1px dotted #e1e1e1;
    line-height: 28px;
    cursor: pointer;
}

.filter-box-content .filter.active {
    font-weight: 600;
    color: #000000;
}

.filter-box-content .filter input[type="checkbox"] {
    display: none;
}

.filter-box-header.open {
    border-bottom: 1px dotted #e1e1e1;
}

.filter-box-content {
    overflow: hidden;
    display: none;
}

.filters-header + .filter-box .filter-box-content, .filters-header-none + .filter-box .filter-box-content {
    display: block;
}

.filter-ind {
    float: right;
    width: 19px;
    margin-right: 7px;
    margin-top: 5px;
}

.filter-ind.selected {
    display: none;
}

.filter-box-content .filter.active .filter-ind.selected {
    display: block;
}

.filter-box-content .filter.active .filter-ind.unselected {
    display: none;
}

.page-box.filter-box {
    padding: 10px !important;
}

.preview {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
}

.page-box.no-padding {
    padding: 0 !important;
}

.page-box.business-logo img {
    max-width: 100%;
    height: auto;
}

.page-box.profile-cats h2 {
    color: #000000 !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
    letter-spacing: -1px !important;
    border-bottom: 1px dotted #e1e1e1;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.page-box.profile-cats .cat {
    padding-left: 30px;
    font-size: 14px;
    border-bottom: 1px dotted #e1e1e1;
    line-height: 28px;
}

.page-box.profile-cats .tweet {
    font-size: 14px;
    border-bottom: 1px dotted #e1e1e1;
    line-height: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-box.profile-cats .tweet img {
    float: left;
    margin-top: 4px;
}

.page-box.profile-cats .tweet .tweet-content {
    margin-left: 48px;
    padding-left: 10px;
}

.page-box.profile-cats .tweet .tweet-content .top-info {
    font-size: 13px;
}

.page-box.profile-cats .tweet .tweet-content .top-info .name {
    font-weight: 600;
    line-height: 22px;
}

.page-box.profile-cats .tweet .tweet-content .top-info .screen-name {
    float: left;
    color: #8899a6;
    margin-right: 5px;
    line-height: 14px;
}

.page-box.profile-cats .tweet .tweet-content .top-info .date {
    color: #8899a6;
    line-height: 14px;
}

.page-box.profile-cats .tweet .tweet-content .text {
    margin-top: 10px;
}

.page-box.profile-cats .tweet .tweet-content .text p {
    font-size: 16px;
    line-height: 20px;
}

.page-box .info {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}

.page-box .value {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border-bottom: 1px dotted #e1e1e1;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.page-box .value a {
    color: #333333 !important;
    font-size: 14px !important;
}

.page-box .value:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.google-map img {
    /*width: 100%;*/
    height: auto;
}

.no-results {
    display: none;
}

.no-results p, .no-results p a {
    font-size: 22px;
    line-height: 26px;
}

#grid.fail .no-results, .grid.fail .no-results {
    display: block;
}

.info-left {
    float: left;
    width: 50%;
    color: #FFFFFF;
    margin-top: 13px;
}

.info-left .bb {
    display: none;
}

.info-left input {
    margin-top: 0 !important;
    cursor: pointer;
    margin-right: 3px !important;
    vertical-align: middle;
}

.info-left label {
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}

.info-right {
    float: right;
    width: 50%;
    text-align: right;
    margin-top: 13px;
}

.info-right a {
    color: #FFFFFF !important;
    text-decoration: underline;
    font-size: 14px;
}

#template-contactmembers #grid, #template-supplychain .grid {
    margin-bottom: 15px !important;
}

#template-contactmembers #grid .mix, #template-contactmembers #grid .mix-gap, #template-supplychain .grid .mix, #template-supplychain .grid .mix-gap {
    width: 15.5% !important;
}

#template-contactmembers #grid .mix .dc, #template-supplychain .grid .mix .dc {
    height: 150px !important;
}

#template-contactmembers #grid .mix .info, #template-supplychain .grid .mix .info {
    min-height: 60px !important;
}

#template-contactmembers #grid .mix img, #template-supplychain .grid .mix img {
    max-height: 100px !important;
}

#template-contactmembers .error-box, #template-supplychain .error-box {
    margin-bottom: 50px !important;
    margin-top: 0 !important;
}

#supply-chain-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
}

#supply-chain-popup .sc-popup-bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

#supply-chain-popup .sc-popup-options {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #FFFFFF;
    z-index: 6000;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.4);
    padding: 25px;
    min-width: 400px;
}

#supply-chain-popup .sc-popup-options h2 {
    color: #5bb5c9;
    margin-top: 0;
    font-size: 20px;
}

.sc-popup-options-content .add-to-stage {
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
}

.sc-popup-options-content .add-to-stage:hover {
    color: #5bb5c9;
    text-decoration: underline;
}

.sc-popup-options-content .add-to-stage:last-child {
    margin-bottom: 0 !important;
}

.profile-center-col {
    padding-left: 50px;
    padding-right: 50px;
}

.profile-center-col .page-box {
    margin-top: 50px;
}

.page-box-member {
    background-color: #A49032 !important;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.4);
    padding: 20px;
    margin-bottom: 30px;
}

.page-box-member p {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 0;
}

.page-box-member p span {
    float: right;
}

.page-box-member p span a {
    color: #000000 !important;
    text-decoration: underline;
}

.user-data-container {
    padding-left: 50px;
}

.user-data-container h2 {
    margin-top: 0;
}

#template-business #grid .info-left a {
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    color: #FFFFFF !important;
}

.page-box-2 {
    position: relative;
}

.page-box-2 h2 {
    color: #000000 !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
    border-top: 1px dotted #e1e1e1;
    padding-top: 25px;
    margin-top: 50px;
    padding-bottom: 25px;
    margin-bottom: 0;
}

.projects, .testimonials {
    position: relative;
}

.projects .project, .testimonials .testimonial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

.projects .project:first-child, .testimonials .testimonial:first-child {
    display: block;
}

.projects .project img {
    width: 100%;
    height: auto;
}

.slider-nav {
    position: absolute;
    top: 17px;
    right: 0;
}

.slider-nav .slider-button {
    background-color: #5bb5c9 !important;
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 43px;
    cursor: pointer;
    margin-left: 10px;
}

.slider-nav .slider-button .fa {
    color: #FFFFFF;
}

.testimonial-who {
    color: #5bb5c9;
}

.title-actions {
    position: absolute;
    bottom: 40px;
    width: 45%;
    padding-right: 75px;
    right: 0;
}

.title-actions .btn {
    float: right;
    margin-left: 10px;
}

.project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    padding: 30px;
    display: none;
}

.project-description .content p {
    color: #FFFFFF;
}

.project-description h3 {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

#projects-slider .slide:hover .project-description {
    display: block;
}

.social-icon {
    width: 50px;
    height: auto;
    margin-right: 5px;
    margin-top: 10px;
}

#footer-logo {
    width: 300px;
    height: auto;
    max-width: 100%;
}

#portal-search {
    float: right;
    margin-right: 40px;
}

#portal-search form {
    margin-top: 0;
}

#portal-search form input[type="submit"] {
    margin-top: -3px;
    margin-left: -4px;
}

.header-scroll {
    box-shadow: 0px 0px 15px #333;
}